.elementor-500 .elementor-element.elementor-element-746fa95>.elementor-container {
  max-width: 1290px;
}

.elementor-500 .elementor-element.elementor-element-ab3fdc4 {
  text-align: left;
}

.elementor-500 .elementor-element.elementor-element-ab3fdc4 img {
  width: 45%;
}

.elementor-500 .elementor-element.elementor-element-ab3fdc4>.elementor-widget-container {
  margin: 0px 0px 30px 0px;
}

.elementor-500 .elementor-element.elementor-element-074bc2a .elementor-heading-title {
  color: #FFFFFF;
  font-family: var(--e-global-typography-be4e6a2-font-family), Sans-serif;
  font-size: var(--e-global-typography-be4e6a2-font-size);
  font-weight: var(--e-global-typography-be4e6a2-font-weight);
  line-height: var(--e-global-typography-be4e6a2-line-height);
  letter-spacing: var(--e-global-typography-be4e6a2-letter-spacing);
  word-spacing: var(--e-global-typography-be4e6a2-word-spacing);
}

.elementor-500 .elementor-element.elementor-element-79d843a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(10px/2);
}

.elementor-500 .elementor-element.elementor-element-79d843a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(10px/2);
}

.elementor-500 .elementor-element.elementor-element-79d843a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(10px/2);
  margin-left: calc(10px/2);
}

.elementor-500 .elementor-element.elementor-element-79d843a .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-10px/2);
  margin-left: calc(-10px/2);
}

body.rtl .elementor-500 .elementor-element.elementor-element-79d843a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-10px/2);
}

body:not(.rtl) .elementor-500 .elementor-element.elementor-element-79d843a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-10px/2);
}

.elementor-500 .elementor-element.elementor-element-79d843a .elementor-icon-list-icon i {
  color: var(--e-global-color-accent);
  transition: color 0.3s;
}

.elementor-500 .elementor-element.elementor-element-79d843a .elementor-icon-list-icon svg {
  fill: var(--e-global-color-accent);
  transition: fill 0.3s;
}

.elementor-500 .elementor-element.elementor-element-79d843a .elementor-icon-list-item:hover .elementor-icon-list-icon i {
  color: var(--e-global-color-1adb059);
}

.elementor-500 .elementor-element.elementor-element-79d843a .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
  fill: var(--e-global-color-1adb059);
}

.elementor-500 .elementor-element.elementor-element-79d843a {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}

.elementor-500 .elementor-element.elementor-element-79d843a .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-500 .elementor-element.elementor-element-79d843a .elementor-icon-list-item>a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-500 .elementor-element.elementor-element-79d843a .elementor-icon-list-text {
  color: var(--e-global-color-5eca36b);
  transition: color 0.3s;
}

.elementor-500 .elementor-element.elementor-element-79d843a .elementor-icon-list-item:hover .elementor-icon-list-text {
  color: var(--e-global-color-1adb059);
}

.elementor-500 .elementor-element.elementor-element-79d843a>.elementor-widget-container {
  margin: 0px 0px 30px 0px;
}

.elementor-500 .elementor-element.elementor-element-82ffa7f .elementor-heading-title {
  color: #FFFFFF;
  font-family: var(--e-global-typography-be4e6a2-font-family), Sans-serif;
  font-size: var(--e-global-typography-be4e6a2-font-size);
  font-weight: var(--e-global-typography-be4e6a2-font-weight);
  line-height: var(--e-global-typography-be4e6a2-line-height);
  letter-spacing: var(--e-global-typography-be4e6a2-letter-spacing);
  word-spacing: var(--e-global-typography-be4e6a2-word-spacing);
}

.elementor-500 .elementor-element.elementor-element-012d87f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(10px/2);
}

.elementor-500 .elementor-element.elementor-element-012d87f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(10px/2);
}

.elementor-500 .elementor-element.elementor-element-012d87f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(10px/2);
  margin-left: calc(10px/2);
}

.elementor-500 .elementor-element.elementor-element-012d87f .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-10px/2);
  margin-left: calc(-10px/2);
}

body.rtl .elementor-500 .elementor-element.elementor-element-012d87f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-10px/2);
}

body:not(.rtl) .elementor-500 .elementor-element.elementor-element-012d87f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-10px/2);
}

.elementor-500 .elementor-element.elementor-element-012d87f .elementor-icon-list-icon i {
  color: var(--e-global-color-accent);
  transition: color 0.3s;
}

.elementor-500 .elementor-element.elementor-element-012d87f .elementor-icon-list-icon svg {
  fill: var(--e-global-color-accent);
  transition: fill 0.3s;
}

.elementor-500 .elementor-element.elementor-element-012d87f .elementor-icon-list-item:hover .elementor-icon-list-icon i {
  color: var(--e-global-color-accent);
}

.elementor-500 .elementor-element.elementor-element-012d87f .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
  fill: var(--e-global-color-accent);
}

.elementor-500 .elementor-element.elementor-element-012d87f {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}

.elementor-500 .elementor-element.elementor-element-012d87f .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-500 .elementor-element.elementor-element-012d87f .elementor-icon-list-item>a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-500 .elementor-element.elementor-element-012d87f .elementor-icon-list-text {
  color: var(--e-global-color-5eca36b);
  transition: color 0.3s;
}

.elementor-500 .elementor-element.elementor-element-012d87f>.elementor-widget-container {
  margin: 0px 0px 30px 0px;
}

.elementor-500 .elementor-element.elementor-element-62222fc .elementor-heading-title {
  color: var(--e-global-color-5eca36b);
  font-family: var(--e-global-typography-be4e6a2-font-family), Sans-serif;
  font-size: var(--e-global-typography-be4e6a2-font-size);
  font-weight: var(--e-global-typography-be4e6a2-font-weight);
  line-height: var(--e-global-typography-be4e6a2-line-height);
  letter-spacing: var(--e-global-typography-be4e6a2-letter-spacing);
  word-spacing: var(--e-global-typography-be4e6a2-word-spacing);
}

.elementor-500 .elementor-element.elementor-element-62222fc>.elementor-widget-container {
  margin: 30px 0px 0px 0px;
}

.elementor-500 .elementor-element.elementor-element-ba7be50 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 16px;
  --grid-column-gap: 15px;
  --grid-row-gap: 0px;
}

.elementor-500 .elementor-element.elementor-element-ba7be50 .elementor-widget-container {
  text-align: left;
}

.elementor-500 .elementor-element.elementor-element-ba7be50 .elementor-social-icon {
  background-color: #FFFFFF00;
  --icon-padding: 0.7em;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #D1D1D16B;
}

.elementor-500 .elementor-element.elementor-element-ba7be50 .elementor-social-icon i {
  color: var(--e-global-color-accent);
}

.elementor-500 .elementor-element.elementor-element-ba7be50 .elementor-social-icon svg {
  fill: var(--e-global-color-accent);
}

.elementor-500 .elementor-element.elementor-element-ba7be50 .elementor-social-icon:hover {
  background-color: var(--e-global-color-accent);
  border-color: var(--e-global-color-accent);
}

.elementor-500 .elementor-element.elementor-element-ba7be50 .elementor-social-icon:hover i {
  color: var(--e-global-color-secondary);
}

.elementor-500 .elementor-element.elementor-element-ba7be50 .elementor-social-icon:hover svg {
  fill: var(--e-global-color-secondary);
}

.elementor-500 .elementor-element.elementor-element-ba7be50>.elementor-widget-container {
  margin: 20px 0px 0px 0px;
}

@media(max-width:1024px) {
  .elementor-500 .elementor-element.elementor-element-074bc2a .elementor-heading-title {
    font-size: var(--e-global-typography-be4e6a2-font-size);
    line-height: var(--e-global-typography-be4e6a2-line-height);
    letter-spacing: var(--e-global-typography-be4e6a2-letter-spacing);
    word-spacing: var(--e-global-typography-be4e6a2-word-spacing);
  }

  .elementor-500 .elementor-element.elementor-element-79d843a .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-500 .elementor-element.elementor-element-79d843a .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-500 .elementor-element.elementor-element-82ffa7f .elementor-heading-title {
    font-size: var(--e-global-typography-be4e6a2-font-size);
    line-height: var(--e-global-typography-be4e6a2-line-height);
    letter-spacing: var(--e-global-typography-be4e6a2-letter-spacing);
    word-spacing: var(--e-global-typography-be4e6a2-word-spacing);
  }

  .elementor-500 .elementor-element.elementor-element-012d87f .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-500 .elementor-element.elementor-element-012d87f .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-500 .elementor-element.elementor-element-62222fc .elementor-heading-title {
    font-size: var(--e-global-typography-be4e6a2-font-size);
    line-height: var(--e-global-typography-be4e6a2-line-height);
    letter-spacing: var(--e-global-typography-be4e6a2-letter-spacing);
    word-spacing: var(--e-global-typography-be4e6a2-word-spacing);
  }

  .elementor-500 .elementor-element.elementor-element-ba7be50 .elementor-widget-container {
    text-align: left;
  }
}

@media(max-width:767px) {
  .elementor-500 .elementor-element.elementor-element-074bc2a .elementor-heading-title {
    font-size: var(--e-global-typography-be4e6a2-font-size);
    line-height: var(--e-global-typography-be4e6a2-line-height);
    letter-spacing: var(--e-global-typography-be4e6a2-letter-spacing);
    word-spacing: var(--e-global-typography-be4e6a2-word-spacing);
  }

  .elementor-500 .elementor-element.elementor-element-79d843a .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-500 .elementor-element.elementor-element-79d843a .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-500 .elementor-element.elementor-element-82ffa7f .elementor-heading-title {
    font-size: var(--e-global-typography-be4e6a2-font-size);
    line-height: var(--e-global-typography-be4e6a2-line-height);
    letter-spacing: var(--e-global-typography-be4e6a2-letter-spacing);
    word-spacing: var(--e-global-typography-be4e6a2-word-spacing);
  }

  .elementor-500 .elementor-element.elementor-element-012d87f .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-500 .elementor-element.elementor-element-012d87f .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-500 .elementor-element.elementor-element-62222fc .elementor-heading-title {
    font-size: var(--e-global-typography-be4e6a2-font-size);
    line-height: var(--e-global-typography-be4e6a2-line-height);
    letter-spacing: var(--e-global-typography-be4e6a2-letter-spacing);
    word-spacing: var(--e-global-typography-be4e6a2-word-spacing);
  }

  .elementor-500 .elementor-element.elementor-element-ba7be50>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
}