.elementor-kit-3 {
  --e-global-color-primary: #457B9D;
  --e-global-color-secondary: #1D3557;
  --e-global-color-text: #4A4A4A;
  --e-global-color-accent: #E53945;
  --e-global-color-5eca36b: #FFFFFF;
  --e-global-color-518c757: #C5C5C5;
  --e-global-color-1adb059: #F7A6A3;
  --e-global-color-c650dc6: #4A4A4AE0;
  --e-global-typography-primary-font-family: "Roboto";
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-secondary-font-family: "Roboto Slab";
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-text-font-family: "Red Hat Text";
  --e-global-typography-text-font-size: 18px;
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-accent-font-family: "Red Hat Display";
  --e-global-typography-accent-font-size: 16px;
  --e-global-typography-accent-font-weight: 500;
  --e-global-typography-accent-line-height: 1em;
  --e-global-typography-cf565e5-font-family: "Red Hat Display";
  --e-global-typography-cf565e5-font-size: 76px;
  --e-global-typography-cf565e5-font-weight: 700;
  --e-global-typography-cf565e5-line-height: 1em;
  --e-global-typography-5369ec4-font-family: "Red Hat Display";
  --e-global-typography-5369ec4-font-size: 52px;
  --e-global-typography-5369ec4-font-weight: 700;
  --e-global-typography-5369ec4-line-height: 1.1em;
  --e-global-typography-99e80ea-font-family: "Red Hat Display";
  --e-global-typography-99e80ea-font-size: 35px;
  --e-global-typography-99e80ea-font-weight: 700;
  --e-global-typography-99e80ea-line-height: 1em;
  --e-global-typography-c10f16a-font-family: "Red Hat Display";
  --e-global-typography-c10f16a-font-size: 27px;
  --e-global-typography-c10f16a-font-weight: 700;
  --e-global-typography-c10f16a-line-height: 1em;
  --e-global-typography-89dc976-font-family: "Red Hat Display";
  --e-global-typography-89dc976-font-size: 25px;
  --e-global-typography-89dc976-font-weight: 700;
  --e-global-typography-89dc976-line-height: 1em;
  --e-global-typography-be4e6a2-font-family: "Red Hat Display";
  --e-global-typography-be4e6a2-font-size: 22px;
  --e-global-typography-be4e6a2-font-weight: 700;
  --e-global-typography-be4e6a2-line-height: 1.1em;
  --e-global-typography-820bf53-font-family: "Red Hat Display";
  --e-global-typography-820bf53-font-size: 20px;
  --e-global-typography-820bf53-font-weight: 700;
  --e-global-typography-820bf53-line-height: 1.1em;
  --e-global-typography-7741280-font-family: "Red Hat Display";
  --e-global-typography-7741280-font-size: 18px;
  --e-global-typography-7741280-font-weight: 700;
  --e-global-typography-7741280-line-height: 1em;
  --e-global-typography-97c187c-font-family: "Red Hat Text";
  --e-global-typography-97c187c-font-size: 14px;
  --e-global-typography-97c187c-font-weight: 400;
  --e-global-typography-23832af-font-family: "Red Hat Text";
  --e-global-typography-23832af-font-size: 16px;
  --e-global-typography-23832af-font-weight: 400;
  --e-global-typography-a26cc25-font-family: "Red Hat Display";
  --e-global-typography-a26cc25-font-size: 18px;
  --e-global-typography-a26cc25-font-weight: 500;
  --e-global-typography-a26cc25-line-height: 1em;
  --e-global-typography-40afb92-font-family: "Red Hat Display";
  --e-global-typography-40afb92-font-size: 87px;
  --e-global-typography-40afb92-font-weight: 700;
  --e-global-typography-40afb92-line-height: 1em;
  --e-global-typography-1e57a8c-font-family: "Red Hat Text";
  --e-global-typography-1e57a8c-font-size: 18px;
  --e-global-typography-1e57a8c-font-weight: 500;
  --e-global-typography-ba87687-font-family: "Red Hat Display";
  --e-global-typography-ba87687-font-size: 145px;
  --e-global-typography-ba87687-font-weight: 700;
  --e-global-typography-ba87687-line-height: 1em;
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-kit-3 a {
  color: var(--e-global-color-accent);
}

.elementor-kit-3 h1 {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-cf565e5-font-family), Sans-serif;
  font-size: var(--e-global-typography-cf565e5-font-size);
  font-weight: var(--e-global-typography-cf565e5-font-weight);
  line-height: var(--e-global-typography-cf565e5-line-height);
  letter-spacing: var(--e-global-typography-cf565e5-letter-spacing);
  word-spacing: var(--e-global-typography-cf565e5-word-spacing);
}

.elementor-kit-3 h2 {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-99e80ea-font-family), Sans-serif;
  font-size: var(--e-global-typography-99e80ea-font-size);
  font-weight: var(--e-global-typography-99e80ea-font-weight);
  line-height: var(--e-global-typography-99e80ea-line-height);
  letter-spacing: var(--e-global-typography-99e80ea-letter-spacing);
  word-spacing: var(--e-global-typography-99e80ea-word-spacing);
}

.elementor-kit-3 h3 {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-99e80ea-font-family), Sans-serif;
  font-size: var(--e-global-typography-99e80ea-font-size);
  font-weight: var(--e-global-typography-99e80ea-font-weight);
  line-height: var(--e-global-typography-99e80ea-line-height);
  letter-spacing: var(--e-global-typography-99e80ea-letter-spacing);
  word-spacing: var(--e-global-typography-99e80ea-word-spacing);
}

.elementor-kit-3 h4 {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-c10f16a-font-family), Sans-serif;
  font-size: var(--e-global-typography-c10f16a-font-size);
  font-weight: var(--e-global-typography-c10f16a-font-weight);
  line-height: var(--e-global-typography-c10f16a-line-height);
  letter-spacing: var(--e-global-typography-c10f16a-letter-spacing);
  word-spacing: var(--e-global-typography-c10f16a-word-spacing);
}

.elementor-kit-3 h5 {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-89dc976-font-family), Sans-serif;
  font-size: var(--e-global-typography-89dc976-font-size);
  font-weight: var(--e-global-typography-89dc976-font-weight);
  line-height: var(--e-global-typography-89dc976-line-height);
  letter-spacing: var(--e-global-typography-89dc976-letter-spacing);
  word-spacing: var(--e-global-typography-89dc976-word-spacing);
}

.elementor-kit-3 h6 {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-be4e6a2-font-family), Sans-serif;
  font-size: var(--e-global-typography-be4e6a2-font-size);
  font-weight: var(--e-global-typography-be4e6a2-font-weight);
  line-height: var(--e-global-typography-be4e6a2-line-height);
  letter-spacing: var(--e-global-typography-be4e6a2-letter-spacing);
  word-spacing: var(--e-global-typography-be4e6a2-word-spacing);
}

.elementor-kit-3 button,
.elementor-kit-3 input[type="button"],
.elementor-kit-3 input[type="submit"],
.elementor-kit-3 input[type="reset"],
.elementor-kit-3 .elementor-button {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  line-height: var(--e-global-typography-accent-line-height);
  color: var(--e-global-color-5eca36b);
  background-color: var(--e-global-color-accent);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 50px 50px 50px 50px;
  padding: 20px 35px 20px 35px;
}

.elementor-kit-3 button:hover,
.elementor-kit-3 button:focus,
.elementor-kit-3 input[type="button"]:hover,
.elementor-kit-3 input[type="button"]:focus,
.elementor-kit-3 input[type="submit"]:hover,
.elementor-kit-3 input[type="reset"]:hover,
.elementor-kit-3 input[type="submit"]:focus,
.elementor-kit-3 input[type="reset"]:focus,
.elementor-kit-3 .elementor-button:hover,
.elementor-kit-3 .elementor-button:focus {
  color: var(--e-global-color-primary);
  background-color: var(--e-global-color-1adb059);
}

.elementor-kit-3 label {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-1e57a8c-font-family), Sans-serif;
  font-size: var(--e-global-typography-1e57a8c-font-size);
  font-weight: var(--e-global-typography-1e57a8c-font-weight);
  line-height: var(--e-global-typography-1e57a8c-line-height);
  letter-spacing: var(--e-global-typography-1e57a8c-letter-spacing);
  word-spacing: var(--e-global-typography-1e57a8c-word-spacing);
}

.elementor-kit-3 input:not([type="button"]):not([type="submit"]):not([type="reset"]),
.elementor-kit-3 textarea,
.elementor-kit-3 .elementor-field-textual {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-518c757);
  border-radius: 0px 0px 0px 0px;
}

.elementor-kit-3 input:focus:not([type="button"]):not([type="submit"]),
.elementor-kit-3 textarea:focus,
.elementor-kit-3 .elementor-field-textual:focus {
  color: var(--e-global-color-text);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-text);
  border-radius: 0px 0px 0px 0px;
}

.elementor-section.elementor-section-boxed>.elementor-container {
  max-width: 1140px;
}

.e-con {
  --container-max-width: 1140px;
}

.elementor-widget:not(:last-child) {
  margin-block-end: 20px;
}

.elementor-element {
  --widgets-spacing: 20px 20px;
}

h1.entry-title {
  display: var(--page-title-display);
}

.site-header {
  padding-right: 0px;
  padding-left: 0px;
}

@media(max-width:1024px) {
  .elementor-kit-3 {
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-accent-font-size: 15px;
    --e-global-typography-cf565e5-font-size: 53px;
    --e-global-typography-5369ec4-font-size: 49px;
    --e-global-typography-89dc976-font-size: 25px;
    --e-global-typography-be4e6a2-font-size: 22px;
    --e-global-typography-820bf53-font-size: 20px;
    --e-global-typography-7741280-font-size: 18px;
    --e-global-typography-97c187c-font-size: 14px;
    --e-global-typography-23832af-font-size: 16px;
    --e-global-typography-a26cc25-font-size: 16px;
    --e-global-typography-40afb92-font-size: 62px;
    --e-global-typography-1e57a8c-font-size: 16px;
    --e-global-typography-ba87687-font-size: 131px;
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-kit-3 h1 {
    font-size: var(--e-global-typography-cf565e5-font-size);
    line-height: var(--e-global-typography-cf565e5-line-height);
    letter-spacing: var(--e-global-typography-cf565e5-letter-spacing);
    word-spacing: var(--e-global-typography-cf565e5-word-spacing);
  }

  .elementor-kit-3 h2 {
    font-size: var(--e-global-typography-99e80ea-font-size);
    line-height: var(--e-global-typography-99e80ea-line-height);
    letter-spacing: var(--e-global-typography-99e80ea-letter-spacing);
    word-spacing: var(--e-global-typography-99e80ea-word-spacing);
  }

  .elementor-kit-3 h3 {
    font-size: var(--e-global-typography-99e80ea-font-size);
    line-height: var(--e-global-typography-99e80ea-line-height);
    letter-spacing: var(--e-global-typography-99e80ea-letter-spacing);
    word-spacing: var(--e-global-typography-99e80ea-word-spacing);
  }

  .elementor-kit-3 h4 {
    font-size: var(--e-global-typography-c10f16a-font-size);
    line-height: var(--e-global-typography-c10f16a-line-height);
    letter-spacing: var(--e-global-typography-c10f16a-letter-spacing);
    word-spacing: var(--e-global-typography-c10f16a-word-spacing);
  }

  .elementor-kit-3 h5 {
    font-size: var(--e-global-typography-89dc976-font-size);
    line-height: var(--e-global-typography-89dc976-line-height);
    letter-spacing: var(--e-global-typography-89dc976-letter-spacing);
    word-spacing: var(--e-global-typography-89dc976-word-spacing);
  }

  .elementor-kit-3 h6 {
    font-size: var(--e-global-typography-be4e6a2-font-size);
    line-height: var(--e-global-typography-be4e6a2-line-height);
    letter-spacing: var(--e-global-typography-be4e6a2-letter-spacing);
    word-spacing: var(--e-global-typography-be4e6a2-word-spacing);
  }

  .elementor-kit-3 button,
  .elementor-kit-3 input[type="button"],
  .elementor-kit-3 input[type="submit"],
  .elementor-kit-3 input[type="reset"],
  .elementor-kit-3 .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }

  .elementor-kit-3 label {
    font-size: var(--e-global-typography-1e57a8c-font-size);
    line-height: var(--e-global-typography-1e57a8c-line-height);
    letter-spacing: var(--e-global-typography-1e57a8c-letter-spacing);
    word-spacing: var(--e-global-typography-1e57a8c-word-spacing);
  }

  .elementor-kit-3 input:not([type="button"]):not([type="submit"]):not([type="reset"]),
  .elementor-kit-3 textarea,
  .elementor-kit-3 .elementor-field-textual {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1024px;
  }

  .e-con {
    --container-max-width: 1024px;
  }
}

@media(max-width:767px) {
  .elementor-kit-3 {
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-accent-font-size: 15px;
    --e-global-typography-5369ec4-font-size: 40px;
    --e-global-typography-99e80ea-font-size: 34px;
    --e-global-typography-c10f16a-font-size: 26px;
    --e-global-typography-c10f16a-line-height: 1em;
    --e-global-typography-89dc976-font-size: 21px;
    --e-global-typography-be4e6a2-font-size: 21px;
    --e-global-typography-820bf53-font-size: 20px;
    --e-global-typography-7741280-font-size: 18px;
    --e-global-typography-97c187c-font-size: 14px;
    --e-global-typography-23832af-font-size: 16px;
    --e-global-typography-a26cc25-font-size: 16px;
    --e-global-typography-40afb92-font-size: 45px;
    --e-global-typography-1e57a8c-font-size: 16px;
    --e-global-typography-ba87687-font-size: 115px;
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-kit-3 h1 {
    font-size: var(--e-global-typography-cf565e5-font-size);
    line-height: var(--e-global-typography-cf565e5-line-height);
    letter-spacing: var(--e-global-typography-cf565e5-letter-spacing);
    word-spacing: var(--e-global-typography-cf565e5-word-spacing);
  }

  .elementor-kit-3 h2 {
    font-size: var(--e-global-typography-99e80ea-font-size);
    line-height: var(--e-global-typography-99e80ea-line-height);
    letter-spacing: var(--e-global-typography-99e80ea-letter-spacing);
    word-spacing: var(--e-global-typography-99e80ea-word-spacing);
  }

  .elementor-kit-3 h3 {
    font-size: var(--e-global-typography-99e80ea-font-size);
    line-height: var(--e-global-typography-99e80ea-line-height);
    letter-spacing: var(--e-global-typography-99e80ea-letter-spacing);
    word-spacing: var(--e-global-typography-99e80ea-word-spacing);
  }

  .elementor-kit-3 h4 {
    font-size: var(--e-global-typography-c10f16a-font-size);
    line-height: var(--e-global-typography-c10f16a-line-height);
    letter-spacing: var(--e-global-typography-c10f16a-letter-spacing);
    word-spacing: var(--e-global-typography-c10f16a-word-spacing);
  }

  .elementor-kit-3 h5 {
    font-size: var(--e-global-typography-89dc976-font-size);
    line-height: var(--e-global-typography-89dc976-line-height);
    letter-spacing: var(--e-global-typography-89dc976-letter-spacing);
    word-spacing: var(--e-global-typography-89dc976-word-spacing);
  }

  .elementor-kit-3 h6 {
    font-size: var(--e-global-typography-be4e6a2-font-size);
    line-height: var(--e-global-typography-be4e6a2-line-height);
    letter-spacing: var(--e-global-typography-be4e6a2-letter-spacing);
    word-spacing: var(--e-global-typography-be4e6a2-word-spacing);
  }

  .elementor-kit-3 button,
  .elementor-kit-3 input[type="button"],
  .elementor-kit-3 input[type="submit"],
  .elementor-kit-3 input[type="reset"],
  .elementor-kit-3 .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }

  .elementor-kit-3 label {
    font-size: var(--e-global-typography-1e57a8c-font-size);
    line-height: var(--e-global-typography-1e57a8c-line-height);
    letter-spacing: var(--e-global-typography-1e57a8c-letter-spacing);
    word-spacing: var(--e-global-typography-1e57a8c-word-spacing);
  }

  .elementor-kit-3 input:not([type="button"]):not([type="submit"]):not([type="reset"]),
  .elementor-kit-3 textarea,
  .elementor-kit-3 .elementor-field-textual {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 767px;
  }

  .e-con {
    --container-max-width: 767px;
  }
}