.elementor-555 .elementor-element.elementor-element-c0363cd>.elementor-container {
  max-width: 1170px;
}

.elementor-555 .elementor-element.elementor-element-c0363cd:not(.elementor-motion-effects-element-type-background),
.elementor-555 .elementor-element.elementor-element-c0363cd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: #f5f5f5;
  background-image: url("../img/products/For\ Your\ Business\ Cover.jpg");
  background-position: 0 -30px;
  background-repeat: no-repeat;
  background-size: cover;
}

.elementor-555 .elementor-element.elementor-element-c0363cd>.elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(90deg, #f9f9f9 0%, #0e0e0e85 0%);
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-555 .elementor-element.elementor-element-c0363cd {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 90px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-555 .elementor-element.elementor-element-4b12f46.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-555 .elementor-element.elementor-element-4b12f46.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-555 .elementor-element.elementor-element-4b12f46>.elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 0px 20px;
}

.elementor-555 .elementor-element.elementor-element-4b12f46>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-555 .elementor-element.elementor-element-8307e21 {
  box-shadow: 0px 0px 10px 0px rgba(79, 79, 79, 0.1);
}

.elementor-bc-flex-widget .elementor-555 .elementor-element.elementor-element-7691bf7.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-555 .elementor-element.elementor-element-7691bf7.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-555 .elementor-element.elementor-element-7691bf7:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-555 .elementor-element.elementor-element-7691bf7>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: #f9f9f9;
}

.elementor-555 .elementor-element.elementor-element-7691bf7>.elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 40px 40px 40px 40px;
}

.elementor-555 .elementor-element.elementor-element-7691bf7>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-555 .elementor-element.elementor-element-a0ba1ca .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-5369ec4-font-family), Sans-serif;
  font-size: var(--e-global-typography-5369ec4-font-size);
  font-weight: var(--e-global-typography-5369ec4-font-weight);
  line-height: var(--e-global-typography-5369ec4-line-height);
  letter-spacing: var(--e-global-typography-5369ec4-letter-spacing);
  word-spacing: var(--e-global-typography-5369ec4-word-spacing);
}

.elementor-555 .elementor-element.elementor-element-a0ba1ca>.elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.elementor-555 .elementor-element.elementor-element-265d47e .elementor-icon-list-icon i {
  transition: color 0.3s;
}

.elementor-555 .elementor-element.elementor-element-265d47e .elementor-icon-list-icon svg {
  transition: fill 0.3s;
}

.elementor-555 .elementor-element.elementor-element-265d47e {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
  width: auto;
  max-width: auto;
}

.elementor-555 .elementor-element.elementor-element-265d47e .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-555 .elementor-element.elementor-element-265d47e .elementor-icon-list-item>a {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  line-height: var(--e-global-typography-accent-line-height);
}

.elementor-555 .elementor-element.elementor-element-265d47e .elementor-icon-list-text {
  transition: color 0.3s;
}

.elementor-555 .elementor-element.elementor-element-265d47e>.elementor-widget-container {
  padding: 0px 10px 0px 0px;
}

.elementor-555 .elementor-element.elementor-element-f89188f .elementor-icon-list-icon i {
  color: var(--e-global-color-accent);
  transition: color 0.3s;
}

.elementor-555 .elementor-element.elementor-element-f89188f .elementor-icon-list-icon svg {
  fill: var(--e-global-color-accent);
  transition: fill 0.3s;
}

.elementor-555 .elementor-element.elementor-element-f89188f {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
  width: auto;
  max-width: auto;
}

.elementor-555 .elementor-element.elementor-element-f89188f .elementor-icon-list-icon {
  padding-right: 10px;
}

.elementor-555 .elementor-element.elementor-element-f89188f .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-555 .elementor-element.elementor-element-f89188f .elementor-icon-list-item>a {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  line-height: var(--e-global-typography-accent-line-height);
}

.elementor-555 .elementor-element.elementor-element-f89188f .elementor-icon-list-text {
  color: var(--e-global-color-secondary);
  transition: color 0.3s;
}

.elementor-555 .elementor-element.elementor-element-1ead1f8>.elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 150px 0px 80px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}

.elementor-555 .elementor-element.elementor-element-1ead1f8>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-555 .elementor-element.elementor-element-165431e {
  --spacer-size: 250px;
}

.elementor-555 .elementor-element.elementor-element-a4ebfae>.elementor-container {
  max-width: 1170px;
}

.elementor-555 .elementor-element.elementor-element-a4ebfae>.elementor-container>.elementor-column>.elementor-widget-wrap {
  align-content: center;
  align-items: center;
}

.elementor-555 .elementor-element.elementor-element-a4ebfae {
  padding: 140px 0px 140px 0px;
  z-index: 2;
}

.elementor-555 .elementor-element.elementor-element-e868507>.elementor-element-populated {
  margin: 0px 30px 0px 0px;
  --e-column-margin-right: 30px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}

.elementor-555 .elementor-element.elementor-element-4202dd3 .elementor-heading-title {
  color: #ffffff00;
  font-family: var(--e-global-typography-40afb92-font-family), Sans-serif;
  font-size: var(--e-global-typography-40afb92-font-size);
  font-weight: var(--e-global-typography-40afb92-font-weight);
  line-height: var(--e-global-typography-40afb92-line-height);
  letter-spacing: var(--e-global-typography-40afb92-letter-spacing);
  word-spacing: var(--e-global-typography-40afb92-word-spacing);
  -webkit-text-stroke-width: 1px;
  stroke-width: 1px;
  -webkit-text-stroke-color: #e53944c9;
  stroke: #e53944c9;
}

.elementor-555 .elementor-element.elementor-element-4202dd3 {
  width: auto;
  max-width: auto;
  top: -29px;
}

body:not(.rtl) .elementor-555 .elementor-element.elementor-element-4202dd3 {
  left: 0px;
}

body.rtl .elementor-555 .elementor-element.elementor-element-4202dd3 {
  right: 0px;
}

.elementor-555 .elementor-element.elementor-element-4202dd3:not(.e-transform)>.elementor-widget-container {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.elementor-555 .elementor-element.elementor-element-4202dd3.e-transform>.elementor-widget-container {
  --e-transform-rotateZ: 0deg;
}

.elementor-555 .elementor-element.elementor-element-2528c64 .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-5369ec4-font-family), Sans-serif;
  font-size: var(--e-global-typography-5369ec4-font-size);
  font-weight: var(--e-global-typography-5369ec4-font-weight);
  line-height: var(--e-global-typography-5369ec4-line-height);
  letter-spacing: var(--e-global-typography-5369ec4-letter-spacing);
  word-spacing: var(--e-global-typography-5369ec4-word-spacing);
}

.elementor-555 .elementor-element.elementor-element-2528c64 {
  z-index: 1;
}

.elementor-555 .elementor-element.elementor-element-4c360ad {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-555 .elementor-element.elementor-element-573c71f>.elementor-element-populated {
  margin: 0px 15px 0px 0px;
  --e-column-margin-right: 15px;
  --e-column-margin-left: 0px;
}

.elementor-555 .elementor-element.elementor-element-20bb472 .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper {
  text-align: left;
  padding: 11px 0px 0px 0px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

.elementor-555 .elementor-element.elementor-element-20bb472.jkit-equal-height-enable,
.elementor-555 .elementor-element.elementor-element-20bb472.jkit-equal-height-enable .elementor-widget-container,
.elementor-555 .elementor-element.elementor-element-20bb472.jkit-equal-height-enable .jeg-elementor-kit.jkit-icon-box,
.elementor-555 .elementor-element.elementor-element-20bb472.jkit-equal-height-enable .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper {
  height: 100%;
}

.elementor-555 .elementor-element.elementor-element-20bb472 .jeg-elementor-kit.jkit-icon-box .title {
  margin: 0px 0px 5px 0px;
  padding: 0px 0px 0px 0px;
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-be4e6a2-font-family), Sans-serif;
  font-size: var(--e-global-typography-be4e6a2-font-size);
  font-weight: var(--e-global-typography-be4e6a2-font-weight);
  line-height: var(--e-global-typography-be4e6a2-line-height);
  letter-spacing: var(--e-global-typography-be4e6a2-letter-spacing);
  word-spacing: var(--e-global-typography-be4e6a2-word-spacing);
}

.elementor-555 .elementor-element.elementor-element-20bb472 .jeg-elementor-kit.jkit-icon-box .icon-box.icon-box-body .icon-box-description {
  color: #939393;
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  margin: 0px 0px 8px 0px;
}

.elementor-555 .elementor-element.elementor-element-20bb472 .jeg-elementor-kit.jkit-icon-box .hover-watermark i {
  font-size: 100px;
}

.elementor-555 .elementor-element.elementor-element-20bb472 .jeg-elementor-kit.jkit-icon-box .hover-watermark svg {
  width: 100px;
}

.elementor-555 .elementor-element.elementor-element-20bb472 .jeg-elementor-kit.jkit-icon-box .icon-box>.icon {
  color: var(--e-global-color-accent);
  border-radius: 0px 0px 0px 0px;
  margin: 3px 0px 0px 0px;
}

.elementor-555 .elementor-element.elementor-element-20bb472 .jeg-elementor-kit.jkit-icon-box .icon-box>.icon svg {
  fill: var(--e-global-color-accent);
  width: 50px;
}

.elementor-555 .elementor-element.elementor-element-20bb472 .jeg-elementor-kit.jkit-icon-box:hover .icon-box>.icon {
  color: var(--e-global-color-1adb059);
}

.elementor-555 .elementor-element.elementor-element-20bb472 .jeg-elementor-kit.jkit-icon-box:hover .icon-box>.icon svg {
  fill: var(--e-global-color-1adb059);
}

.elementor-555 .elementor-element.elementor-element-20bb472 .jeg-elementor-kit.jkit-icon-box .icon-box>.icon i {
  font-size: 50px;
}

.elementor-555 .elementor-element.elementor-element-f4eea10>.elementor-element-populated {
  margin: 0px 0px 0px 25px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 25px;
}

.elementor-555 .elementor-element.elementor-element-e778566 .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper {
  text-align: left;
  padding: 10px 0px 0px 0px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

.elementor-555 .elementor-element.elementor-element-e778566.jkit-equal-height-enable,
.elementor-555 .elementor-element.elementor-element-e778566.jkit-equal-height-enable .elementor-widget-container,
.elementor-555 .elementor-element.elementor-element-e778566.jkit-equal-height-enable .jeg-elementor-kit.jkit-icon-box,
.elementor-555 .elementor-element.elementor-element-e778566.jkit-equal-height-enable .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper {
  height: 100%;
}

.elementor-555 .elementor-element.elementor-element-e778566 .jeg-elementor-kit.jkit-icon-box .title {
  margin: 0px 0px 5px 0px;
  padding: 0px 0px 0px 0px;
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-be4e6a2-font-family), Sans-serif;
  font-size: var(--e-global-typography-be4e6a2-font-size);
  font-weight: var(--e-global-typography-be4e6a2-font-weight);
  line-height: var(--e-global-typography-be4e6a2-line-height);
  letter-spacing: var(--e-global-typography-be4e6a2-letter-spacing);
  word-spacing: var(--e-global-typography-be4e6a2-word-spacing);
}

.elementor-555 .elementor-element.elementor-element-e778566 .jeg-elementor-kit.jkit-icon-box .icon-box.icon-box-body .icon-box-description {
  color: #939393;
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  margin: 0px 5px 8px 0px;
}

.elementor-555 .elementor-element.elementor-element-e778566 .jeg-elementor-kit.jkit-icon-box .hover-watermark i {
  font-size: 100px;
}

.elementor-555 .elementor-element.elementor-element-e778566 .jeg-elementor-kit.jkit-icon-box .hover-watermark svg {
  width: 100px;
}

.elementor-555 .elementor-element.elementor-element-e778566 .jeg-elementor-kit.jkit-icon-box .icon-box>.icon {
  color: var(--e-global-color-accent);
  margin: 6px 0px 0px 0px;
}

.elementor-555 .elementor-element.elementor-element-e778566 .jeg-elementor-kit.jkit-icon-box .icon-box>.icon svg {
  fill: var(--e-global-color-accent);
  width: 45px;
}

.elementor-555 .elementor-element.elementor-element-e778566 .jeg-elementor-kit.jkit-icon-box:hover .icon-box>.icon {
  color: var(--e-global-color-1adb059);
}

.elementor-555 .elementor-element.elementor-element-e778566 .jeg-elementor-kit.jkit-icon-box:hover .icon-box>.icon svg {
  fill: var(--e-global-color-1adb059);
}

.elementor-555 .elementor-element.elementor-element-e778566 .jeg-elementor-kit.jkit-icon-box .icon-box>.icon i {
  font-size: 45px;
}

.elementor-555 .elementor-element.elementor-element-5d2b669 {
  margin-top: 20px;
  margin-bottom: 15px;
}

.elementor-555 .elementor-element.elementor-element-a39e323>.elementor-element-populated {
  margin: 0px 15px 0px 0px;
  --e-column-margin-right: 15px;
  --e-column-margin-left: 0px;
}

.elementor-555 .elementor-element.elementor-element-5d329d4 .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper {
  text-align: left;
  padding: 10px 0px 0px 0px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

.elementor-555 .elementor-element.elementor-element-5d329d4.jkit-equal-height-enable,
.elementor-555 .elementor-element.elementor-element-5d329d4.jkit-equal-height-enable .elementor-widget-container,
.elementor-555 .elementor-element.elementor-element-5d329d4.jkit-equal-height-enable .jeg-elementor-kit.jkit-icon-box,
.elementor-555 .elementor-element.elementor-element-5d329d4.jkit-equal-height-enable .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper {
  height: 100%;
}

.elementor-555 .elementor-element.elementor-element-5d329d4 .jeg-elementor-kit.jkit-icon-box .title {
  margin: 0px 0px 5px 0px;
  padding: 0px 0px 0px 0px;
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-be4e6a2-font-family), Sans-serif;
  font-size: var(--e-global-typography-be4e6a2-font-size);
  font-weight: var(--e-global-typography-be4e6a2-font-weight);
  line-height: var(--e-global-typography-be4e6a2-line-height);
  letter-spacing: var(--e-global-typography-be4e6a2-letter-spacing);
  word-spacing: var(--e-global-typography-be4e6a2-word-spacing);
}

.elementor-555 .elementor-element.elementor-element-5d329d4 .jeg-elementor-kit.jkit-icon-box .icon-box.icon-box-body .icon-box-description {
  color: #939393;
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  margin: 0px 0px 8px 0px;
}

.elementor-555 .elementor-element.elementor-element-5d329d4 .jeg-elementor-kit.jkit-icon-box .hover-watermark i {
  font-size: 100px;
}

.elementor-555 .elementor-element.elementor-element-5d329d4 .jeg-elementor-kit.jkit-icon-box .hover-watermark svg {
  width: 100px;
}

.elementor-555 .elementor-element.elementor-element-5d329d4 .jeg-elementor-kit.jkit-icon-box .icon-box>.icon {
  color: var(--e-global-color-accent);
  border-radius: 0px 0px 0px 0px;
  margin: 3px 0px 0px 0px;
}

.elementor-555 .elementor-element.elementor-element-5d329d4 .jeg-elementor-kit.jkit-icon-box .icon-box>.icon svg {
  fill: var(--e-global-color-accent);
  width: 45px;
}

.elementor-555 .elementor-element.elementor-element-5d329d4 .jeg-elementor-kit.jkit-icon-box:hover .icon-box>.icon {
  color: var(--e-global-color-1adb059);
}

.elementor-555 .elementor-element.elementor-element-5d329d4 .jeg-elementor-kit.jkit-icon-box:hover .icon-box>.icon svg {
  fill: var(--e-global-color-1adb059);
}

.elementor-555 .elementor-element.elementor-element-5d329d4 .jeg-elementor-kit.jkit-icon-box .icon-box>.icon i {
  font-size: 45px;
}

.elementor-555 .elementor-element.elementor-element-30c4279>.elementor-element-populated {
  margin: 0px 0px 0px 25px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 25px;
}

.elementor-555 .elementor-element.elementor-element-0e22c2c .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper {
  text-align: left;
  padding: 10px 0px 0px 0px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

.elementor-555 .elementor-element.elementor-element-0e22c2c.jkit-equal-height-enable,
.elementor-555 .elementor-element.elementor-element-0e22c2c.jkit-equal-height-enable .elementor-widget-container,
.elementor-555 .elementor-element.elementor-element-0e22c2c.jkit-equal-height-enable .jeg-elementor-kit.jkit-icon-box,
.elementor-555 .elementor-element.elementor-element-0e22c2c.jkit-equal-height-enable .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper {
  height: 100%;
}

.elementor-555 .elementor-element.elementor-element-0e22c2c .jeg-elementor-kit.jkit-icon-box .title {
  margin: 0px 0px 5px 0px;
  padding: 0px 0px 0px 0px;
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-be4e6a2-font-family), Sans-serif;
  font-size: var(--e-global-typography-be4e6a2-font-size);
  font-weight: var(--e-global-typography-be4e6a2-font-weight);
  line-height: var(--e-global-typography-be4e6a2-line-height);
  letter-spacing: var(--e-global-typography-be4e6a2-letter-spacing);
  word-spacing: var(--e-global-typography-be4e6a2-word-spacing);
}

.elementor-555 .elementor-element.elementor-element-0e22c2c .jeg-elementor-kit.jkit-icon-box .icon-box.icon-box-body .icon-box-description {
  color: #939393;
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  margin: 0px 0px 8px 0px;
}

.elementor-555 .elementor-element.elementor-element-0e22c2c .jeg-elementor-kit.jkit-icon-box .hover-watermark i {
  font-size: 100px;
}

.elementor-555 .elementor-element.elementor-element-0e22c2c .jeg-elementor-kit.jkit-icon-box .hover-watermark svg {
  width: 100px;
}

.elementor-555 .elementor-element.elementor-element-0e22c2c .jeg-elementor-kit.jkit-icon-box .icon-box>.icon {
  color: var(--e-global-color-accent);
  border-radius: 0px 0px 0px 0px;
  margin: 3px 0px 0px 0px;
}

.elementor-555 .elementor-element.elementor-element-0e22c2c .jeg-elementor-kit.jkit-icon-box .icon-box>.icon svg {
  fill: var(--e-global-color-accent);
  width: 45px;
}

.elementor-555 .elementor-element.elementor-element-0e22c2c .jeg-elementor-kit.jkit-icon-box:hover .icon-box>.icon {
  color: var(--e-global-color-1adb059);
}

.elementor-555 .elementor-element.elementor-element-0e22c2c .jeg-elementor-kit.jkit-icon-box:hover .icon-box>.icon svg {
  fill: var(--e-global-color-1adb059);
}

.elementor-555 .elementor-element.elementor-element-0e22c2c .jeg-elementor-kit.jkit-icon-box .icon-box>.icon i {
  font-size: 45px;
}

.elementor-bc-flex-widget .elementor-555 .elementor-element.elementor-element-d7f011d.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-555 .elementor-element.elementor-element-d7f011d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-555 .elementor-element.elementor-element-d7f011d:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-555 .elementor-element.elementor-element-d7f011d>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: var(--e-global-color-secondary);
}

.elementor-555 .elementor-element.elementor-element-d7f011d>.elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0% 0% -24% 0%;
  --e-column-margin-right: 0%;
  --e-column-margin-left: 0%;
  padding: 40px 60px 40px 60px;
}

.elementor-555 .elementor-element.elementor-element-d7f011d>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-555 .elementor-element.elementor-element-ebf2b43 .elementor-heading-title {
  color: var(--e-global-color-5eca36b);
  font-family: var(--e-global-typography-c10f16a-font-family), Sans-serif;
  font-size: var(--e-global-typography-c10f16a-font-size);
  font-weight: var(--e-global-typography-c10f16a-font-weight);
  line-height: var(--e-global-typography-c10f16a-line-height);
  letter-spacing: var(--e-global-typography-c10f16a-letter-spacing);
  word-spacing: var(--e-global-typography-c10f16a-word-spacing);
}

.elementor-555 .elementor-element.elementor-element-63c4b37 {
  color: var(--e-global-color-518c757);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-555 .elementor-element.elementor-element-92c5e08 {
  margin-top: -5%;
  margin-bottom: 0%;
}

.elementor-555 .elementor-element.elementor-element-faad594 iframe {
  height: 500px;
  filter: brightness(90%) contrast(100%) saturate(70%) blur(0px) hue-rotate(0deg);
  transition-duration: 0.5s;
}

.elementor-555 .elementor-element.elementor-element-faad594:hover iframe {
  filter: brightness(95%) contrast(100%) saturate(80%) blur(0px) hue-rotate(0deg);
}

@media (max-width: 1024px) {

  .elementor-555 .elementor-element.elementor-element-c0363cd:not(.elementor-motion-effects-element-type-background),
  .elementor-555 .elementor-element.elementor-element-c0363cd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-position: center center;
  }

  .elementor-555 .elementor-element.elementor-element-4b12f46>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 80px 0px 0px 30px;
  }

  .elementor-555 .elementor-element.elementor-element-a0ba1ca .elementor-heading-title {
    font-size: var(--e-global-typography-5369ec4-font-size);
    line-height: var(--e-global-typography-5369ec4-line-height);
    letter-spacing: var(--e-global-typography-5369ec4-letter-spacing);
    word-spacing: var(--e-global-typography-5369ec4-word-spacing);
  }

  .elementor-555 .elementor-element.elementor-element-265d47e .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-555 .elementor-element.elementor-element-265d47e .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }

  .elementor-555 .elementor-element.elementor-element-f89188f .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-555 .elementor-element.elementor-element-f89188f .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }

  .elementor-555 .elementor-element.elementor-element-165431e {
    --spacer-size: 240px;
  }

  .elementor-555 .elementor-element.elementor-element-a4ebfae {
    padding: 140px 0px 0px 0px;
  }

  .elementor-555 .elementor-element.elementor-element-e868507>.elementor-element-populated {
    margin: 0px 10px 0px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
  }

  .elementor-555 .elementor-element.elementor-element-4202dd3 .elementor-heading-title {
    font-size: var(--e-global-typography-40afb92-font-size);
    line-height: var(--e-global-typography-40afb92-line-height);
    letter-spacing: var(--e-global-typography-40afb92-letter-spacing);
    word-spacing: var(--e-global-typography-40afb92-word-spacing);
  }

  body:not(.rtl) .elementor-555 .elementor-element.elementor-element-4202dd3 {
    left: 4px;
  }

  body.rtl .elementor-555 .elementor-element.elementor-element-4202dd3 {
    right: 4px;
  }

  .elementor-555 .elementor-element.elementor-element-4202dd3 {
    top: -35px;
  }

  .elementor-555 .elementor-element.elementor-element-2528c64 .elementor-heading-title {
    font-size: var(--e-global-typography-5369ec4-font-size);
    line-height: var(--e-global-typography-5369ec4-line-height);
    letter-spacing: var(--e-global-typography-5369ec4-letter-spacing);
    word-spacing: var(--e-global-typography-5369ec4-word-spacing);
  }

  .elementor-555 .elementor-element.elementor-element-4c360ad {
    text-align: left;
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-555 .elementor-element.elementor-element-573c71f>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-555 .elementor-element.elementor-element-20bb472 .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper {
    text-align: left;
    padding: 14px 10px 14px 0px;
  }

  .elementor-555 .elementor-element.elementor-element-20bb472 .jeg-elementor-kit.jkit-icon-box .title {
    font-size: var(--e-global-typography-be4e6a2-font-size);
    line-height: var(--e-global-typography-be4e6a2-line-height);
    letter-spacing: var(--e-global-typography-be4e6a2-letter-spacing);
    word-spacing: var(--e-global-typography-be4e6a2-word-spacing);
  }

  .elementor-555 .elementor-element.elementor-element-20bb472 .jeg-elementor-kit.jkit-icon-box .icon-box.icon-box-body .icon-box-description {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-555 .elementor-element.elementor-element-20bb472>.elementor-widget-container {
    margin: 0px 50px 0px 0px;
  }

  .elementor-555 .elementor-element.elementor-element-f4eea10>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-555 .elementor-element.elementor-element-e778566 .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper {
    text-align: left;
    padding: 14px 14px 14px 0px;
  }

  .elementor-555 .elementor-element.elementor-element-e778566 .jeg-elementor-kit.jkit-icon-box .title {
    font-size: var(--e-global-typography-be4e6a2-font-size);
    line-height: var(--e-global-typography-be4e6a2-line-height);
    letter-spacing: var(--e-global-typography-be4e6a2-letter-spacing);
    word-spacing: var(--e-global-typography-be4e6a2-word-spacing);
  }

  .elementor-555 .elementor-element.elementor-element-e778566 .jeg-elementor-kit.jkit-icon-box .icon-box.icon-box-body .icon-box-description {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-555 .elementor-element.elementor-element-e778566>.elementor-widget-container {
    margin: 0px 50px 0px 0px;
  }

  .elementor-555 .elementor-element.elementor-element-5d329d4 .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper {
    text-align: left;
    padding: 14px 14px 14px 0px;
  }

  .elementor-555 .elementor-element.elementor-element-5d329d4 .jeg-elementor-kit.jkit-icon-box .title {
    font-size: var(--e-global-typography-be4e6a2-font-size);
    line-height: var(--e-global-typography-be4e6a2-line-height);
    letter-spacing: var(--e-global-typography-be4e6a2-letter-spacing);
    word-spacing: var(--e-global-typography-be4e6a2-word-spacing);
  }

  .elementor-555 .elementor-element.elementor-element-5d329d4 .jeg-elementor-kit.jkit-icon-box .icon-box.icon-box-body .icon-box-description {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-555 .elementor-element.elementor-element-5d329d4>.elementor-widget-container {
    margin: 0px 50px 0px 0px;
  }

  .elementor-555 .elementor-element.elementor-element-30c4279>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-555 .elementor-element.elementor-element-0e22c2c .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper {
    text-align: left;
    padding: 14px 14px 14px 0px;
  }

  .elementor-555 .elementor-element.elementor-element-0e22c2c .jeg-elementor-kit.jkit-icon-box .title {
    font-size: var(--e-global-typography-be4e6a2-font-size);
    line-height: var(--e-global-typography-be4e6a2-line-height);
    letter-spacing: var(--e-global-typography-be4e6a2-letter-spacing);
    word-spacing: var(--e-global-typography-be4e6a2-word-spacing);
  }

  .elementor-555 .elementor-element.elementor-element-0e22c2c .jeg-elementor-kit.jkit-icon-box .icon-box.icon-box-body .icon-box-description {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-555 .elementor-element.elementor-element-0e22c2c>.elementor-widget-container {
    margin: 0px 56px 0px 0px;
  }

  .elementor-555 .elementor-element.elementor-element-d7f011d>.elementor-element-populated {
    margin: 0px 10px -60px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 40px 60px 40px 60px;
  }

  .elementor-555 .elementor-element.elementor-element-ebf2b43 .elementor-heading-title {
    font-size: var(--e-global-typography-c10f16a-font-size);
    line-height: var(--e-global-typography-c10f16a-line-height);
    letter-spacing: var(--e-global-typography-c10f16a-letter-spacing);
    word-spacing: var(--e-global-typography-c10f16a-word-spacing);
  }

  .elementor-555 .elementor-element.elementor-element-63c4b37 {
    text-align: left;
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-555 .elementor-element.elementor-element-63c4b37>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
  }
}

@media (max-width: 767px) {

  .elementor-555 .elementor-element.elementor-element-c0363cd:not(.elementor-motion-effects-element-type-background),
  .elementor-555 .elementor-element.elementor-element-c0363cd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-position: top center;
    background-size: cover;
  }

  .elementor-555 .elementor-element.elementor-element-4b12f46 {
    width: 100%;
  }

  .elementor-555 .elementor-element.elementor-element-4b12f46>.elementor-element-populated {
    padding: 150px 10px 120px 10px;
  }

  .elementor-555 .elementor-element.elementor-element-a0ba1ca .elementor-heading-title {
    font-size: var(--e-global-typography-5369ec4-font-size);
    line-height: var(--e-global-typography-5369ec4-line-height);
    letter-spacing: var(--e-global-typography-5369ec4-letter-spacing);
    word-spacing: var(--e-global-typography-5369ec4-word-spacing);
  }

  .elementor-555 .elementor-element.elementor-element-a0ba1ca>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
  }

  .elementor-555 .elementor-element.elementor-element-265d47e .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-555 .elementor-element.elementor-element-265d47e .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }

  .elementor-555 .elementor-element.elementor-element-f89188f .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-555 .elementor-element.elementor-element-f89188f .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }

  .elementor-555 .elementor-element.elementor-element-1ead1f8>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-555 .elementor-element.elementor-element-165431e {
    --spacer-size: 0px;
  }

  .elementor-555 .elementor-element.elementor-element-a4ebfae {
    padding: 100px 0px 0px 0px;
  }

  .elementor-555 .elementor-element.elementor-element-e868507>.elementor-element-populated {
    margin: 0px 5px 0px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
  }

  .elementor-555 .elementor-element.elementor-element-4202dd3 .elementor-heading-title {
    font-size: var(--e-global-typography-40afb92-font-size);
    line-height: var(--e-global-typography-40afb92-line-height);
    letter-spacing: var(--e-global-typography-40afb92-letter-spacing);
    word-spacing: var(--e-global-typography-40afb92-word-spacing);
  }

  body:not(.rtl) .elementor-555 .elementor-element.elementor-element-4202dd3 {
    left: 3px;
  }

  body.rtl .elementor-555 .elementor-element.elementor-element-4202dd3 {
    right: 3px;
  }

  .elementor-555 .elementor-element.elementor-element-4202dd3 {
    top: -26px;
  }

  .elementor-555 .elementor-element.elementor-element-2528c64 .elementor-heading-title {
    font-size: var(--e-global-typography-5369ec4-font-size);
    line-height: var(--e-global-typography-5369ec4-line-height);
    letter-spacing: var(--e-global-typography-5369ec4-letter-spacing);
    word-spacing: var(--e-global-typography-5369ec4-word-spacing);
  }

  .elementor-555 .elementor-element.elementor-element-4c360ad {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-555 .elementor-element.elementor-element-573c71f>.elementor-element-populated {
    margin: 0px 0px 20px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-555 .elementor-element.elementor-element-20bb472 .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper {
    text-align: left;
    padding: 0px 50px 0px 0px;
  }

  .elementor-555 .elementor-element.elementor-element-20bb472 .jeg-elementor-kit.jkit-icon-box .title {
    font-size: var(--e-global-typography-be4e6a2-font-size);
    line-height: var(--e-global-typography-be4e6a2-line-height);
    letter-spacing: var(--e-global-typography-be4e6a2-letter-spacing);
    word-spacing: var(--e-global-typography-be4e6a2-word-spacing);
  }

  .elementor-555 .elementor-element.elementor-element-20bb472 .jeg-elementor-kit.jkit-icon-box .icon-box.icon-box-body .icon-box-description {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-555 .elementor-element.elementor-element-20bb472 .jeg-elementor-kit.jkit-icon-box .icon-box>.icon {
    margin: 5px 0px 0px 0px;
  }

  .elementor-555 .elementor-element.elementor-element-20bb472>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }

  .elementor-555 .elementor-element.elementor-element-f4eea10>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-555 .elementor-element.elementor-element-e778566 .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper {
    text-align: left;
    padding: 0px 110px 0px 0px;
  }

  .elementor-555 .elementor-element.elementor-element-e778566 .jeg-elementor-kit.jkit-icon-box .title {
    font-size: var(--e-global-typography-be4e6a2-font-size);
    line-height: var(--e-global-typography-be4e6a2-line-height);
    letter-spacing: var(--e-global-typography-be4e6a2-letter-spacing);
    word-spacing: var(--e-global-typography-be4e6a2-word-spacing);
  }

  .elementor-555 .elementor-element.elementor-element-e778566 .jeg-elementor-kit.jkit-icon-box .icon-box.icon-box-body .icon-box-description {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-555 .elementor-element.elementor-element-e778566 .jeg-elementor-kit.jkit-icon-box .icon-box>.icon {
    margin: 5px 0px 0px 0px;
  }

  .elementor-555 .elementor-element.elementor-element-e778566>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }

  .elementor-555 .elementor-element.elementor-element-5d2b669 {
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .elementor-555 .elementor-element.elementor-element-a39e323>.elementor-element-populated {
    margin: 0px 0px 20px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-555 .elementor-element.elementor-element-5d329d4 .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper {
    text-align: left;
    padding: 0px 0px 0px 0px;
  }

  .elementor-555 .elementor-element.elementor-element-5d329d4 .jeg-elementor-kit.jkit-icon-box .title {
    font-size: var(--e-global-typography-be4e6a2-font-size);
    line-height: var(--e-global-typography-be4e6a2-line-height);
    letter-spacing: var(--e-global-typography-be4e6a2-letter-spacing);
    word-spacing: var(--e-global-typography-be4e6a2-word-spacing);
  }

  .elementor-555 .elementor-element.elementor-element-5d329d4 .jeg-elementor-kit.jkit-icon-box .icon-box.icon-box-body .icon-box-description {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-555 .elementor-element.elementor-element-5d329d4 .jeg-elementor-kit.jkit-icon-box .icon-box>.icon {
    margin: 5px 0px 0px 0px;
  }

  .elementor-555 .elementor-element.elementor-element-5d329d4>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }

  .elementor-555 .elementor-element.elementor-element-30c4279>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-555 .elementor-element.elementor-element-0e22c2c .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper {
    text-align: left;
    padding: 0px 0px 0px 0px;
  }

  .elementor-555 .elementor-element.elementor-element-0e22c2c .jeg-elementor-kit.jkit-icon-box .title {
    font-size: var(--e-global-typography-be4e6a2-font-size);
    line-height: var(--e-global-typography-be4e6a2-line-height);
    letter-spacing: var(--e-global-typography-be4e6a2-letter-spacing);
    word-spacing: var(--e-global-typography-be4e6a2-word-spacing);
  }

  .elementor-555 .elementor-element.elementor-element-0e22c2c .jeg-elementor-kit.jkit-icon-box .icon-box.icon-box-body .icon-box-description {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-555 .elementor-element.elementor-element-0e22c2c>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }

  .elementor-555 .elementor-element.elementor-element-d7f011d>.elementor-element-populated {
    margin: 0px 10px -80px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
    padding: 60px 40px 60px 40px;
  }

  .elementor-555 .elementor-element.elementor-element-ebf2b43 .elementor-heading-title {
    font-size: var(--e-global-typography-c10f16a-font-size);
    line-height: var(--e-global-typography-c10f16a-line-height);
    letter-spacing: var(--e-global-typography-c10f16a-letter-spacing);
    word-spacing: var(--e-global-typography-c10f16a-word-spacing);
  }

  .elementor-555 .elementor-element.elementor-element-63c4b37 {
    font-size: var(--e-global-typography-text-font-size);
  }
}

@media (min-width: 768px) {
  .elementor-555 .elementor-element.elementor-element-4b12f46 {
    width: 30%;
  }

  .elementor-555 .elementor-element.elementor-element-1ead1f8 {
    width: 70%;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-555 .elementor-element.elementor-element-4b12f46 {
    width: 45%;
  }

  .elementor-555 .elementor-element.elementor-element-1ead1f8 {
    width: 55%;
  }

  .elementor-555 .elementor-element.elementor-element-e868507 {
    width: 100%;
  }

  .elementor-555 .elementor-element.elementor-element-573c71f {
    width: 37%;
  }

  .elementor-555 .elementor-element.elementor-element-f4eea10 {
    width: 43%;
  }

  .elementor-555 .elementor-element.elementor-element-a39e323 {
    width: 37%;
  }

  .elementor-555 .elementor-element.elementor-element-30c4279 {
    width: 43%;
  }

  .elementor-555 .elementor-element.elementor-element-d7f011d {
    width: 100%;
  }
}

@media (min-width: 1025px) {
  .elementor-element.elementor-element-20bb472 .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    flex-direction: row;
  }
}

@media (min-width: 1025px) {
  .elementor-element.elementor-element-20bb472 .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper .icon-box.icon-box-header {
    margin-right: 15px;
    margin-left: unset;
  }
}

@media (min-width: 1025px) {
  .elementor-element.elementor-element-e778566 .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    flex-direction: row;
  }
}

@media (min-width: 1025px) {
  .elementor-element.elementor-element-e778566 .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper .icon-box.icon-box-header {
    margin-right: 15px;
    margin-left: unset;
  }
}

@media (min-width: 1025px) {
  .elementor-element.elementor-element-5d329d4 .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    flex-direction: row;
  }
}

@media (min-width: 1025px) {
  .elementor-element.elementor-element-5d329d4 .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper .icon-box.icon-box-header {
    margin-right: 15px;
    margin-left: unset;
  }
}

@media (min-width: 1025px) {
  .elementor-element.elementor-element-0e22c2c .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    flex-direction: row;
  }
}

@media (min-width: 1025px) {
  .elementor-element.elementor-element-0e22c2c .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper .icon-box.icon-box-header {
    margin-right: 15px;
    margin-left: unset;
  }
}