.elementor-497 .elementor-element.elementor-element-b893983>.elementor-container {
  max-width: 1170px;
}

.elementor-497 .elementor-element.elementor-element-b893983:not(.elementor-motion-effects-element-type-background),
.elementor-497 .elementor-element.elementor-element-b893983>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: #f5f5f5;
  background-image: url("../img/minimal-packaging-branding-for-aromatic-brands-with-design-space-e1656316984610.jpg");
  background-position: 0 -130px;
  background-repeat: no-repeat;
  background-size: cover;
}

.elementor-497 .elementor-element.elementor-element-b893983>.elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(90deg, #f9f9f9 0%, #0e0e0e85 0%);
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-497 .elementor-element.elementor-element-b893983 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-497 .elementor-element.elementor-element-e066c3a.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-497 .elementor-element.elementor-element-e066c3a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-497 .elementor-element.elementor-element-e066c3a>.elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 0px 20px;
}

.elementor-497 .elementor-element.elementor-element-e066c3a>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-497 .elementor-element.elementor-element-f88ff14 {
  box-shadow: 0px 0px 10px 0px rgba(79, 79, 79, 0.1);
}

.elementor-bc-flex-widget .elementor-497 .elementor-element.elementor-element-2352fa7.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-497 .elementor-element.elementor-element-2352fa7.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-497 .elementor-element.elementor-element-2352fa7:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-497 .elementor-element.elementor-element-2352fa7>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: #f9f9f9;
}

.elementor-497 .elementor-element.elementor-element-2352fa7>.elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 40px 40px 40px 40px;
}

.elementor-497 .elementor-element.elementor-element-2352fa7>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-497 .elementor-element.elementor-element-fe68b1e .jeg-elementor-kit.jkit-post-title {
  text-align: left;
}

.elementor-497 .elementor-element.elementor-element-fe68b1e .jeg-elementor-kit.jkit-post-title .post-title,
.elementor-497 .elementor-element.elementor-element-fe68b1e .jeg-elementor-kit.jkit-post-title .post-title a {
  font-family: var(--e-global-typography-5369ec4-font-family), Sans-serif;
  font-size: var(--e-global-typography-5369ec4-font-size);
  font-weight: var(--e-global-typography-5369ec4-font-weight);
  line-height: var(--e-global-typography-5369ec4-line-height);
  letter-spacing: var(--e-global-typography-5369ec4-letter-spacing);
  word-spacing: var(--e-global-typography-5369ec4-word-spacing);
}

.elementor-497 .elementor-element.elementor-element-fe68b1e .jeg-elementor-kit.jkit-post-title .post-title.style-color,
.elementor-497 .elementor-element.elementor-element-fe68b1e .jeg-elementor-kit.jkit-post-title .post-title.style-color a {
  color: var(--e-global-color-primary);
}

.elementor-497 .elementor-element.elementor-element-c3f25e8 .elementor-icon-wrapper {
  text-align: center;
}

.elementor-497 .elementor-element.elementor-element-c3f25e8.elementor-view-stacked .elementor-icon {
  background-color: var(--e-global-color-accent);
}

.elementor-497 .elementor-element.elementor-element-c3f25e8.elementor-view-framed .elementor-icon,
.elementor-497 .elementor-element.elementor-element-c3f25e8.elementor-view-default .elementor-icon {
  color: var(--e-global-color-accent);
  border-color: var(--e-global-color-accent);
}

.elementor-497 .elementor-element.elementor-element-c3f25e8.elementor-view-framed .elementor-icon,
.elementor-497 .elementor-element.elementor-element-c3f25e8.elementor-view-default .elementor-icon svg {
  fill: var(--e-global-color-accent);
}

.elementor-497 .elementor-element.elementor-element-c3f25e8 .elementor-icon {
  font-size: 27px;
}

.elementor-497 .elementor-element.elementor-element-c3f25e8 .elementor-icon svg {
  height: 27px;
}

.elementor-497 .elementor-element.elementor-element-c3f25e8>.elementor-widget-container {
  padding: 0px 8px 7px 0px;
}

.elementor-497 .elementor-element.elementor-element-c3f25e8 {
  width: auto;
  max-width: auto;
}

.elementor-497 .elementor-element.elementor-element-b474684 .jeg-elementor-kit.jkit-post-author {
  text-align: left;
}

.elementor-497 .elementor-element.elementor-element-b474684 .jeg-elementor-kit.jkit-post-author .post-author,
.elementor-497 .elementor-element.elementor-element-b474684 .jeg-elementor-kit.jkit-post-author .post-author a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  color: var(--e-global-color-secondary);
}

.elementor-497 .elementor-element.elementor-element-b474684>.elementor-widget-container {
  padding: 0px 20px 0px 0px;
}

.elementor-497 .elementor-element.elementor-element-b474684 {
  width: auto;
  max-width: auto;
}

.elementor-497 .elementor-element.elementor-element-9c4c1bc .elementor-icon-wrapper {
  text-align: center;
}

.elementor-497 .elementor-element.elementor-element-9c4c1bc.elementor-view-stacked .elementor-icon {
  background-color: var(--e-global-color-accent);
}

.elementor-497 .elementor-element.elementor-element-9c4c1bc.elementor-view-framed .elementor-icon,
.elementor-497 .elementor-element.elementor-element-9c4c1bc.elementor-view-default .elementor-icon {
  color: var(--e-global-color-accent);
  border-color: var(--e-global-color-accent);
}

.elementor-497 .elementor-element.elementor-element-9c4c1bc.elementor-view-framed .elementor-icon,
.elementor-497 .elementor-element.elementor-element-9c4c1bc.elementor-view-default .elementor-icon svg {
  fill: var(--e-global-color-accent);
}

.elementor-497 .elementor-element.elementor-element-9c4c1bc .elementor-icon {
  font-size: 27px;
}

.elementor-497 .elementor-element.elementor-element-9c4c1bc .elementor-icon svg {
  height: 27px;
}

.elementor-497 .elementor-element.elementor-element-9c4c1bc>.elementor-widget-container {
  padding: 0px 8px 7px 0px;
}

.elementor-497 .elementor-element.elementor-element-9c4c1bc {
  width: auto;
  max-width: auto;
}

.elementor-497 .elementor-element.elementor-element-5d8af32 .jeg-elementor-kit.jkit-post-date {
  text-align: left;
}

.elementor-497 .elementor-element.elementor-element-5d8af32 .jeg-elementor-kit.jkit-post-date .post-date,
.elementor-497 .elementor-element.elementor-element-5d8af32 .jeg-elementor-kit.jkit-post-date .post-date a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  color: var(--e-global-color-secondary);
}

.elementor-497 .elementor-element.elementor-element-5d8af32 {
  width: auto;
  max-width: auto;
}

.elementor-497 .elementor-element.elementor-element-e83167e>.elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 250px 0px 80px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}

.elementor-497 .elementor-element.elementor-element-e83167e>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-497 .elementor-element.elementor-element-e870f4c {
  --spacer-size: 250px;
}

.elementor-497 .elementor-element.elementor-element-21d0e16>.elementor-container {
  max-width: 1170px;
}

.elementor-497 .elementor-element.elementor-element-21d0e16 {
  padding: 70px 0px 100px 0px;
}

.elementor-497 .elementor-element.elementor-element-48ed12a>.elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 60px;
  --e-column-margin-left: 0px;
}

.elementor-497 .elementor-element.elementor-element-43e7291 .jeg-elementor-kit.jkit-post-featured-image {
  text-align: center;
}

.elementor-497 .elementor-element.elementor-element-43e7291 .jeg-elementor-kit.jkit-post-featured-image .post-featured-image img {
  border-radius: 0px 0px 0px 0px;
}

.elementor-497 .elementor-element.elementor-element-05ff39c {
  text-align: left;
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-497 .elementor-element.elementor-element-b76cc4c {
  text-align: left;
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-497 .elementor-element.elementor-element-bb7373b>.elementor-container>.elementor-column>.elementor-widget-wrap {
  align-content: center;
  align-items: center;
}

.elementor-497 .elementor-element.elementor-element-bb7373b {
  margin-top: 0px;
  margin-bottom: 20px;
}

.elementor-497 .elementor-element.elementor-element-78b44dd>.elementor-element-populated {
  margin: 0px 15px 0px 0px;
  --e-column-margin-right: 15px;
  --e-column-margin-left: 0px;
}

.elementor-497 .elementor-element.elementor-element-e05c085>.elementor-element-populated {
  margin: 0px 0px 0px 15px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 15px;
}

.elementor-497 .elementor-element.elementor-element-03c9c51 {
  text-align: left;
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-497 .elementor-element.elementor-element-613f30d>.elementor-container>.elementor-column>.elementor-widget-wrap {
  align-content: center;
  align-items: center;
}

.elementor-497 .elementor-element.elementor-element-613f30d {
  margin-top: 0px;
  margin-bottom: 0px;
}

.elementor-bc-flex-widget .elementor-497 .elementor-element.elementor-element-0ed0f4c.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-497 .elementor-element.elementor-element-0ed0f4c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-497 .elementor-element.elementor-element-0ed0f4c.elementor-column>.elementor-widget-wrap {
  justify-content: flex-start;
}

.elementor-497 .elementor-element.elementor-element-4477d65 {
  text-align: left;
  color: var(--e-global-color-secondary);
  width: var(--container-widget-width, 16.798%);
  max-width: 16.798%;
  --container-widget-width: 16.798%;
  --container-widget-flex-grow: 0;
}

.elementor-497 .elementor-element.elementor-element-4477d65>.elementor-widget-container {
  margin: 0px 5px 0px 0px;
}

.elementor-497 .elementor-element.elementor-element-9076838 .jeg-elementor-kit.jkit-post-terms {
  text-align: left;
}

.elementor-497 .elementor-element.elementor-element-9076838 .jeg-elementor-kit.jkit-post-terms .post-terms,
.elementor-497 .elementor-element.elementor-element-9076838 .jeg-elementor-kit.jkit-post-terms .term-list,
.elementor-497 .elementor-element.elementor-element-9076838 .jeg-elementor-kit.jkit-post-terms .term-list a {
  font-family: var(--e-global-typography-1e57a8c-font-family), Sans-serif;
  font-size: var(--e-global-typography-1e57a8c-font-size);
  font-weight: var(--e-global-typography-1e57a8c-font-weight);
  line-height: var(--e-global-typography-1e57a8c-line-height);
  letter-spacing: var(--e-global-typography-1e57a8c-letter-spacing);
  word-spacing: var(--e-global-typography-1e57a8c-word-spacing);
  color: var(--e-global-color-accent);
}

.elementor-497 .elementor-element.elementor-element-9076838 {
  width: auto;
  max-width: auto;
}

.elementor-bc-flex-widget .elementor-497 .elementor-element.elementor-element-b16c52a.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-497 .elementor-element.elementor-element-b16c52a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-497 .elementor-element.elementor-element-b16c52a.elementor-column>.elementor-widget-wrap {
  justify-content: flex-end;
}

.elementor-497 .elementor-element.elementor-element-750224c {
  text-align: left;
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  width: auto;
  max-width: auto;
}

.elementor-497 .elementor-element.elementor-element-750224c>.elementor-widget-container {
  margin: 0px 5px 0px 0px;
}

.elementor-497 .elementor-element.elementor-element-b628cae .jeg-elementor-kit.jkit-social-share {
  text-align: center;
  --icon-size: 16px;
}

.elementor-497 .elementor-element.elementor-element-b628cae .jeg-elementor-kit.jkit-social-share .social-share-list>li.elementor-repeater-item-e461d32 a {
  color: var(--e-global-color-secondary);
  background-color: var(--e-global-color-accent);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-accent);
}

.elementor-497 .elementor-element.elementor-element-b628cae .jeg-elementor-kit.jkit-social-share .social-share-list>li.elementor-repeater-item-e461d32 a svg {
  fill: var(--e-global-color-secondary);
}

.elementor-497 .elementor-element.elementor-element-b628cae .jeg-elementor-kit.jkit-social-share .social-share-list>li.elementor-repeater-item-05e922a a {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-accent);
}

.elementor-497 .elementor-element.elementor-element-b628cae .jeg-elementor-kit.jkit-social-share .social-share-list>li.elementor-repeater-item-0bf393d a {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-accent);
}

.elementor-497 .elementor-element.elementor-element-b628cae .jeg-elementor-kit.jkit-social-share .social-share-list>li a {
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 35px;
  color: var(--e-global-color-accent);
  background-color: var(--e-global-color-5eca36b);
}

.elementor-497 .elementor-element.elementor-element-b628cae .jeg-elementor-kit.jkit-social-share .social-share-list>li {
  display: inline-block;
  margin: 10px 10px 10px 10px;
}

.elementor-497 .elementor-element.elementor-element-b628cae .jeg-elementor-kit.jkit-social-share .social-share-list>li a svg {
  fill: var(--e-global-color-accent);
}

.elementor-497 .elementor-element.elementor-element-b628cae .jeg-elementor-kit.jkit-social-share .social-share-list>li:hover a {
  color: var(--e-global-color-secondary);
  background-color: var(--e-global-color-accent);
}

.elementor-497 .elementor-element.elementor-element-b628cae .jeg-elementor-kit.jkit-social-share .social-share-list>li:hover a svg {
  fill: var(--e-global-color-secondary);
}

.elementor-497 .elementor-element.elementor-element-b628cae {
  width: auto;
  max-width: auto;
}

.elementor-497 .elementor-element.elementor-element-edc9595 {
  --divider-border-style: solid;
  --divider-color: #e3e3e3;
  --divider-border-width: 1px;
}

.elementor-497 .elementor-element.elementor-element-edc9595 .elementor-divider-separator {
  width: 100%;
  margin: 0 auto;
  margin-center: 0;
}

.elementor-497 .elementor-element.elementor-element-edc9595 .elementor-divider {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.elementor-497 .elementor-element.elementor-element-edc9595>.elementor-widget-container {
  margin: 20px 0px 10px 0px;
}

.elementor-497 .elementor-element.elementor-element-a2581fc>.elementor-element-populated {
  margin: 0px 0px 0px 20px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 20px;
}

.elementor-497 .elementor-element.elementor-element-62c8a99 .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-c10f16a-font-family), Sans-serif;
  font-size: var(--e-global-typography-c10f16a-font-size);
  font-weight: var(--e-global-typography-c10f16a-font-weight);
  line-height: var(--e-global-typography-c10f16a-line-height);
  letter-spacing: var(--e-global-typography-c10f16a-letter-spacing);
  word-spacing: var(--e-global-typography-c10f16a-word-spacing);
}

.elementor-497 .elementor-element.elementor-element-ed2e4c5 {
  --divider-border-style: solid;
  --divider-color: #e1e1e1;
  --divider-border-width: 1px;
}

.elementor-497 .elementor-element.elementor-element-ed2e4c5 .elementor-divider-separator {
  width: 100%;
}

.elementor-497 .elementor-element.elementor-element-ed2e4c5 .elementor-divider {
  padding-top: 0px;
  padding-bottom: 0px;
}

.elementor-497 .elementor-element.elementor-element-ed2e4c5>.elementor-widget-container {
  padding: 0px 0px 0px 0px;
}

.elementor-497 .elementor-element.elementor-element-e508ccd .jeg-elementor-kit.jkit-postlist article {
  text-align: left;
}

.elementor-497 .elementor-element.elementor-element-e508ccd .jeg-elementor-kit.jkit-postlist article a {
  padding: 0px 0px 20px 0px;
}

.elementor-497 .elementor-element.elementor-element-e508ccd .jeg-elementor-kit.jkit-postlist article a .jkit-postlist-title {
  text-align: left;
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-820bf53-font-family), Sans-serif;
  font-size: var(--e-global-typography-820bf53-font-size);
  font-weight: var(--e-global-typography-820bf53-font-weight);
  line-height: var(--e-global-typography-820bf53-line-height);
  letter-spacing: var(--e-global-typography-820bf53-letter-spacing);
  word-spacing: var(--e-global-typography-820bf53-word-spacing);
}

.elementor-497 .elementor-element.elementor-element-e508ccd .jeg-elementor-kit.jkit-postlist article a .meta-lists {
  text-align: left;
}

.elementor-497 .elementor-element.elementor-element-e508ccd .jeg-elementor-kit.jkit-postlist article a .meta-lists span {
  font-family: var(--e-global-typography-97c187c-font-family), Sans-serif;
  font-size: var(--e-global-typography-97c187c-font-size);
  font-weight: var(--e-global-typography-97c187c-font-weight);
  line-height: var(--e-global-typography-97c187c-line-height);
  letter-spacing: var(--e-global-typography-97c187c-letter-spacing);
  word-spacing: var(--e-global-typography-97c187c-word-spacing);
  padding: 5px 0px 0px 0px;
  color: var(--e-global-color-c650dc6);
}

.elementor-497 .elementor-element.elementor-element-e508ccd .jeg-elementor-kit.jkit-postlist article a .meta-lists span i {
  font-size: 12px;
}

.elementor-497 .elementor-element.elementor-element-e508ccd .jeg-elementor-kit.jkit-postlist article a .meta-lists span svg {
  width: 12px;
  fill: var(--e-global-color-c650dc6);
}

.elementor-497 .elementor-element.elementor-element-e508ccd .jeg-elementor-kit.jkit-postlist article a .meta-lists span i,
.elementor-497 .elementor-element.elementor-element-e508ccd .jeg-elementor-kit.jkit-postlist article a .meta-lists span svg {
  margin-right: 6px;
}

.elementor-497 .elementor-element.elementor-element-e508ccd .jeg-elementor-kit.jkit-postblock .jeg_empty_module {
  text-align: left;
}

.elementor-497 .elementor-element.elementor-element-4186c09 .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-c10f16a-font-family), Sans-serif;
  font-size: var(--e-global-typography-c10f16a-font-size);
  font-weight: var(--e-global-typography-c10f16a-font-weight);
  line-height: var(--e-global-typography-c10f16a-line-height);
  letter-spacing: var(--e-global-typography-c10f16a-letter-spacing);
  word-spacing: var(--e-global-typography-c10f16a-word-spacing);
}

.elementor-497 .elementor-element.elementor-element-e995a89 {
  --divider-border-style: solid;
  --divider-color: #e1e1e1;
  --divider-border-width: 1px;
}

.elementor-497 .elementor-element.elementor-element-e995a89 .elementor-divider-separator {
  width: 100%;
}

.elementor-497 .elementor-element.elementor-element-e995a89 .elementor-divider {
  padding-top: 0px;
  padding-bottom: 0px;
}

.elementor-497 .elementor-element.elementor-element-e995a89>.elementor-widget-container {
  padding: 0px 0px 0px 0px;
}

.elementor-497 .elementor-element.elementor-element-3376353 .jeg-elementor-kit.jkit-categorylist {
  text-align: left;
}

.elementor-497 .elementor-element.elementor-element-3376353 .jeg-elementor-kit.jkit-categorylist.layout-horizontal .category-list-item {
  margin-right: calc(35px / 2);
  margin-left: calc(35px / 2);
}

.elementor-497 .elementor-element.elementor-element-3376353 .jeg-elementor-kit.jkit-categorylist.layout-vertical .category-list-item:not(:last-child) {
  padding-bottom: calc(35px / 2);
}

.elementor-497 .elementor-element.elementor-element-3376353 .jeg-elementor-kit.jkit-categorylist .category-list-item .jkit-categorylist-content {
  color: var(--e-global-color-primary);
}

.elementor-497 .elementor-element.elementor-element-3376353 .jeg-elementor-kit.jkit-categorylist .category-list-item:hover .jkit-categorylist-content {
  color: var(--e-global-color-accent);
}

.elementor-497 .elementor-element.elementor-element-3376353 .jeg-elementor-kit.jkit-categorylist .category-list-item>a {
  font-family: var(--e-global-typography-a26cc25-font-family), Sans-serif;
  font-size: var(--e-global-typography-a26cc25-font-size);
  font-weight: var(--e-global-typography-a26cc25-font-weight);
  line-height: var(--e-global-typography-a26cc25-line-height);
  letter-spacing: var(--e-global-typography-a26cc25-letter-spacing);
  word-spacing: var(--e-global-typography-a26cc25-word-spacing);
}

.elementor-497 .elementor-element.elementor-element-3376353 .jeg-elementor-kit.jkit-categorylist .category-list-item .icon-list i {
  color: var(--e-global-color-accent);
}

.elementor-497 .elementor-element.elementor-element-3376353 .jeg-elementor-kit.jkit-categorylist .category-list-item .icon-list svg {
  fill: var(--e-global-color-accent);
}

.elementor-497 .elementor-element.elementor-element-3376353 .jeg-elementor-kit.jkit-categorylist .category-list-item .icon-list i,
.elementor-497 .elementor-element.elementor-element-3376353 .jeg-elementor-kit.jkit-categorylist .category-list-item .icon-list svg {
  margin-right: 7px;
}

.elementor-497 .elementor-element.elementor-element-19b1bd8:not(.elementor-motion-effects-element-type-background),
.elementor-497 .elementor-element.elementor-element-19b1bd8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-image: url("../img/paper-bags-with-take-away-food-and-coffee-cups-containers-e1656316660998.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.elementor-497 .elementor-element.elementor-element-19b1bd8>.elementor-background-overlay {
  background-color: #0e0e0e;
  opacity: 0.8;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-497 .elementor-element.elementor-element-19b1bd8 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 60px 40px 60px 40px;
}

.elementor-497 .elementor-element.elementor-element-b7c4824 {
  text-align: center;
}

.elementor-497 .elementor-element.elementor-element-b7c4824 .elementor-heading-title {
  color: var(--e-global-color-5eca36b);
  font-family: var(--e-global-typography-c10f16a-font-family), Sans-serif;
  font-size: var(--e-global-typography-c10f16a-font-size);
  font-weight: var(--e-global-typography-c10f16a-font-weight);
  line-height: var(--e-global-typography-c10f16a-line-height);
  letter-spacing: var(--e-global-typography-c10f16a-letter-spacing);
  word-spacing: var(--e-global-typography-c10f16a-word-spacing);
}

.elementor-497 .elementor-element.elementor-element-a00b873 {
  text-align: center;
  color: #ffffff;
}

.elementor-497 .elementor-element.elementor-element-660a3ce .jeg-elementor-kit.jkit-button {
  text-align: left;
}

.elementor-497 .elementor-element.elementor-element-660a3ce .jeg-elementor-kit.jkit-button .jkit-button-wrapper {
  width: 98%;
  padding: 20px 35px 20px 35px;
  font-family: "Red Hat Text", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1em;
  color: var(--e-global-color-secondary);
  background-color: var(--e-global-color-accent);
  border-radius: 50px 50px 50px 50px;
}

.elementor-497 .elementor-element.elementor-element-660a3ce .jeg-elementor-kit.jkit-button .jkit-button-wrapper svg {
  fill: var(--e-global-color-secondary);
}

.elementor-497 .elementor-element.elementor-element-660a3ce .jeg-elementor-kit.jkit-button .jkit-button-wrapper:hover {
  color: var(--e-global-color-secondary);
  background-color: var(--e-global-color-1adb059);
}

.elementor-497 .elementor-element.elementor-element-660a3ce .jeg-elementor-kit.jkit-button .jkit-button-wrapper:hover svg {
  fill: var(--e-global-color-secondary);
}

.elementor-497 .elementor-element.elementor-element-660a3ce .jeg-elementor-kit.jkit-button.icon-position-before .jkit-button-wrapper i,
.elementor-497 .elementor-element.elementor-element-660a3ce .jeg-elementor-kit.jkit-button.icon-position-before .jkit-button-wrapper svg {
  margin-right: 10px;
}

.elementor-497 .elementor-element.elementor-element-660a3ce .jeg-elementor-kit.jkit-button.icon-position-after .jkit-button-wrapper i,
.elementor-497 .elementor-element.elementor-element-660a3ce .jeg-elementor-kit.jkit-button.icon-position-after .jkit-button-wrapper svg {
  margin-left: 10px;
}

@media (max-width: 1024px) {

  .elementor-497 .elementor-element.elementor-element-b893983:not(.elementor-motion-effects-element-type-background),
  .elementor-497 .elementor-element.elementor-element-b893983>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-position: center center;
  }

  .elementor-497 .elementor-element.elementor-element-b893983 {
    padding: 90px 0px 80px 0px;
  }

  .elementor-497 .elementor-element.elementor-element-e066c3a>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 80px 0px 0px 10px;
  }

  .elementor-497 .elementor-element.elementor-element-fe68b1e .jeg-elementor-kit.jkit-post-title .post-title,
  .elementor-497 .elementor-element.elementor-element-fe68b1e .jeg-elementor-kit.jkit-post-title .post-title a {
    font-size: var(--e-global-typography-5369ec4-font-size);
    line-height: var(--e-global-typography-5369ec4-line-height);
    letter-spacing: var(--e-global-typography-5369ec4-letter-spacing);
    word-spacing: var(--e-global-typography-5369ec4-word-spacing);
  }

  .elementor-497 .elementor-element.elementor-element-b474684 .jeg-elementor-kit.jkit-post-author .post-author,
  .elementor-497 .elementor-element.elementor-element-b474684 .jeg-elementor-kit.jkit-post-author .post-author a {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-497 .elementor-element.elementor-element-5d8af32 .jeg-elementor-kit.jkit-post-date .post-date,
  .elementor-497 .elementor-element.elementor-element-5d8af32 .jeg-elementor-kit.jkit-post-date .post-date a {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-497 .elementor-element.elementor-element-e83167e>.elementor-element-populated {
    margin: 0% 0% 0% 0%;
    --e-column-margin-right: 0%;
    --e-column-margin-left: 0%;
  }

  .elementor-497 .elementor-element.elementor-element-e870f4c {
    --spacer-size: 240px;
  }

  .elementor-497 .elementor-element.elementor-element-21d0e16 {
    padding: 140px 10px 100px 10px;
  }

  .elementor-497 .elementor-element.elementor-element-48ed12a>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-497 .elementor-element.elementor-element-05ff39c {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-497 .elementor-element.elementor-element-b76cc4c {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-497 .elementor-element.elementor-element-03c9c51 {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-497 .elementor-element.elementor-element-4477d65 {
    width: initial;
    max-width: initial;
  }

  .elementor-497 .elementor-element.elementor-element-9076838 .jeg-elementor-kit.jkit-post-terms .post-terms,
  .elementor-497 .elementor-element.elementor-element-9076838 .jeg-elementor-kit.jkit-post-terms .term-list,
  .elementor-497 .elementor-element.elementor-element-9076838 .jeg-elementor-kit.jkit-post-terms .term-list a {
    font-size: var(--e-global-typography-1e57a8c-font-size);
    line-height: var(--e-global-typography-1e57a8c-line-height);
    letter-spacing: var(--e-global-typography-1e57a8c-letter-spacing);
    word-spacing: var(--e-global-typography-1e57a8c-word-spacing);
  }

  .elementor-497 .elementor-element.elementor-element-b16c52a.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
  }

  .elementor-497 .elementor-element.elementor-element-750224c {
    font-size: var(--e-global-typography-text-font-size);
    width: initial;
    max-width: initial;
  }

  .elementor-497 .elementor-element.elementor-element-a2581fc>.elementor-element-populated {
    margin: 40px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-497 .elementor-element.elementor-element-62c8a99 .elementor-heading-title {
    font-size: var(--e-global-typography-c10f16a-font-size);
    line-height: var(--e-global-typography-c10f16a-line-height);
    letter-spacing: var(--e-global-typography-c10f16a-letter-spacing);
    word-spacing: var(--e-global-typography-c10f16a-word-spacing);
  }

  .elementor-497 .elementor-element.elementor-element-e508ccd .jeg-elementor-kit.jkit-postlist article a .jkit-postlist-title {
    font-size: var(--e-global-typography-820bf53-font-size);
    line-height: var(--e-global-typography-820bf53-line-height);
    letter-spacing: var(--e-global-typography-820bf53-letter-spacing);
    word-spacing: var(--e-global-typography-820bf53-word-spacing);
  }

  .elementor-497 .elementor-element.elementor-element-e508ccd .jeg-elementor-kit.jkit-postlist article a .meta-lists span {
    font-size: var(--e-global-typography-97c187c-font-size);
    line-height: var(--e-global-typography-97c187c-line-height);
    letter-spacing: var(--e-global-typography-97c187c-letter-spacing);
    word-spacing: var(--e-global-typography-97c187c-word-spacing);
  }

  .elementor-497 .elementor-element.elementor-element-4186c09 .elementor-heading-title {
    font-size: var(--e-global-typography-c10f16a-font-size);
    line-height: var(--e-global-typography-c10f16a-line-height);
    letter-spacing: var(--e-global-typography-c10f16a-letter-spacing);
    word-spacing: var(--e-global-typography-c10f16a-word-spacing);
  }

  .elementor-497 .elementor-element.elementor-element-3376353 .jeg-elementor-kit.jkit-categorylist .category-list-item>a {
    font-size: var(--e-global-typography-a26cc25-font-size);
    line-height: var(--e-global-typography-a26cc25-line-height);
    letter-spacing: var(--e-global-typography-a26cc25-letter-spacing);
    word-spacing: var(--e-global-typography-a26cc25-word-spacing);
  }

  .elementor-497 .elementor-element.elementor-element-b7c4824 .elementor-heading-title {
    font-size: var(--e-global-typography-c10f16a-font-size);
    line-height: var(--e-global-typography-c10f16a-line-height);
    letter-spacing: var(--e-global-typography-c10f16a-letter-spacing);
    word-spacing: var(--e-global-typography-c10f16a-word-spacing);
  }

  .elementor-497 .elementor-element.elementor-element-660a3ce .jeg-elementor-kit.jkit-button {
    text-align: left;
  }

  .elementor-497 .elementor-element.elementor-element-660a3ce .jeg-elementor-kit.jkit-button .jkit-button-wrapper {
    font-size: 15px;
  }
}

@media (max-width: 767px) {

  .elementor-497 .elementor-element.elementor-element-b893983:not(.elementor-motion-effects-element-type-background),
  .elementor-497 .elementor-element.elementor-element-b893983>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-position: top center;
    background-size: cover;
  }

  .elementor-497 .elementor-element.elementor-element-b893983 {
    padding: 0px 0px 0px 0px;
  }

  .elementor-497 .elementor-element.elementor-element-e066c3a {
    width: 100%;
  }

  .elementor-497 .elementor-element.elementor-element-e066c3a>.elementor-element-populated {
    padding: 100px 10px 100px 10px;
  }

  .elementor-497 .elementor-element.elementor-element-2352fa7>.elementor-element-populated {
    padding: 40px 40px 40px 40px;
  }

  .elementor-497 .elementor-element.elementor-element-fe68b1e .jeg-elementor-kit.jkit-post-title .post-title,
  .elementor-497 .elementor-element.elementor-element-fe68b1e .jeg-elementor-kit.jkit-post-title .post-title a {
    font-size: var(--e-global-typography-5369ec4-font-size);
    line-height: var(--e-global-typography-5369ec4-line-height);
    letter-spacing: var(--e-global-typography-5369ec4-letter-spacing);
    word-spacing: var(--e-global-typography-5369ec4-word-spacing);
  }

  .elementor-497 .elementor-element.elementor-element-c3f25e8>.elementor-widget-container {
    padding: 0px 5px 7px 0px;
  }

  .elementor-497 .elementor-element.elementor-element-b474684 .jeg-elementor-kit.jkit-post-author .post-author,
  .elementor-497 .elementor-element.elementor-element-b474684 .jeg-elementor-kit.jkit-post-author .post-author a {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-497 .elementor-element.elementor-element-b474684>.elementor-widget-container {
    padding: 0px 10px 0px 0px;
  }

  .elementor-497 .elementor-element.elementor-element-9c4c1bc>.elementor-widget-container {
    padding: 0px 5px 7px 0px;
  }

  .elementor-497 .elementor-element.elementor-element-5d8af32 .jeg-elementor-kit.jkit-post-date .post-date,
  .elementor-497 .elementor-element.elementor-element-5d8af32 .jeg-elementor-kit.jkit-post-date .post-date a {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-497 .elementor-element.elementor-element-e83167e>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-497 .elementor-element.elementor-element-e870f4c {
    --spacer-size: 0px;
  }

  .elementor-497 .elementor-element.elementor-element-21d0e16 {
    padding: 100px 10px 100px 10px;
  }

  .elementor-497 .elementor-element.elementor-element-05ff39c {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-497 .elementor-element.elementor-element-b76cc4c {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-497 .elementor-element.elementor-element-78b44dd>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-497 .elementor-element.elementor-element-e05c085>.elementor-element-populated {
    margin: 20px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-497 .elementor-element.elementor-element-03c9c51 {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-497 .elementor-element.elementor-element-613f30d {
    padding: 0px 0px 0px 0px;
  }

  .elementor-497 .elementor-element.elementor-element-4477d65 {
    text-align: left;
    width: var(--container-widget-width, 35%);
    max-width: 35%;
    --container-widget-width: 35%;
    --container-widget-flex-grow: 0;
  }

  .elementor-497 .elementor-element.elementor-element-9076838 .jeg-elementor-kit.jkit-post-terms .post-terms,
  .elementor-497 .elementor-element.elementor-element-9076838 .jeg-elementor-kit.jkit-post-terms .term-list,
  .elementor-497 .elementor-element.elementor-element-9076838 .jeg-elementor-kit.jkit-post-terms .term-list a {
    font-size: var(--e-global-typography-1e57a8c-font-size);
    line-height: var(--e-global-typography-1e57a8c-line-height);
    letter-spacing: var(--e-global-typography-1e57a8c-letter-spacing);
    word-spacing: var(--e-global-typography-1e57a8c-word-spacing);
  }

  .elementor-bc-flex-widget .elementor-497 .elementor-element.elementor-element-b16c52a.elementor-column .elementor-widget-wrap {
    align-items: center;
  }

  .elementor-497 .elementor-element.elementor-element-b16c52a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }

  .elementor-497 .elementor-element.elementor-element-b16c52a.elementor-column>.elementor-widget-wrap {
    justify-content: flex-start;
  }

  .elementor-497 .elementor-element.elementor-element-b16c52a>.elementor-element-populated {
    margin: 10px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-497 .elementor-element.elementor-element-750224c {
    text-align: left;
    font-size: var(--e-global-typography-text-font-size);
    width: var(--container-widget-width, 35%);
    max-width: 35%;
    --container-widget-width: 35%;
    --container-widget-flex-grow: 0;
  }

  .elementor-497 .elementor-element.elementor-element-edc9595>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
  }

  .elementor-497 .elementor-element.elementor-element-a2581fc>.elementor-element-populated {
    margin: 60px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-497 .elementor-element.elementor-element-62c8a99 .elementor-heading-title {
    font-size: var(--e-global-typography-c10f16a-font-size);
    line-height: var(--e-global-typography-c10f16a-line-height);
    letter-spacing: var(--e-global-typography-c10f16a-letter-spacing);
    word-spacing: var(--e-global-typography-c10f16a-word-spacing);
  }

  .elementor-497 .elementor-element.elementor-element-e508ccd .jeg-elementor-kit.jkit-postlist article a .jkit-postlist-title {
    font-size: var(--e-global-typography-820bf53-font-size);
    line-height: var(--e-global-typography-820bf53-line-height);
    letter-spacing: var(--e-global-typography-820bf53-letter-spacing);
    word-spacing: var(--e-global-typography-820bf53-word-spacing);
  }

  .elementor-497 .elementor-element.elementor-element-e508ccd .jeg-elementor-kit.jkit-postlist article a .meta-lists span {
    font-size: var(--e-global-typography-97c187c-font-size);
    line-height: var(--e-global-typography-97c187c-line-height);
    letter-spacing: var(--e-global-typography-97c187c-letter-spacing);
    word-spacing: var(--e-global-typography-97c187c-word-spacing);
  }

  .elementor-497 .elementor-element.elementor-element-4186c09 .elementor-heading-title {
    font-size: var(--e-global-typography-c10f16a-font-size);
    line-height: var(--e-global-typography-c10f16a-line-height);
    letter-spacing: var(--e-global-typography-c10f16a-letter-spacing);
    word-spacing: var(--e-global-typography-c10f16a-word-spacing);
  }

  .elementor-497 .elementor-element.elementor-element-3376353 .jeg-elementor-kit.jkit-categorylist .category-list-item>a {
    font-size: var(--e-global-typography-a26cc25-font-size);
    line-height: var(--e-global-typography-a26cc25-line-height);
    letter-spacing: var(--e-global-typography-a26cc25-letter-spacing);
    word-spacing: var(--e-global-typography-a26cc25-word-spacing);
  }

  .elementor-497 .elementor-element.elementor-element-b7c4824 .elementor-heading-title {
    font-size: var(--e-global-typography-c10f16a-font-size);
    line-height: var(--e-global-typography-c10f16a-line-height);
    letter-spacing: var(--e-global-typography-c10f16a-letter-spacing);
    word-spacing: var(--e-global-typography-c10f16a-word-spacing);
  }
}

@media (min-width: 768px) {
  .elementor-497 .elementor-element.elementor-element-e066c3a {
    width: 55%;
  }

  .elementor-497 .elementor-element.elementor-element-e83167e {
    width: 45%;
  }

  .elementor-497 .elementor-element.elementor-element-48ed12a {
    width: 70%;
  }

  .elementor-497 .elementor-element.elementor-element-0ed0f4c {
    width: 47.571%;
  }

  .elementor-497 .elementor-element.elementor-element-b16c52a {
    width: 52.429%;
  }

  .elementor-497 .elementor-element.elementor-element-a2581fc {
    width: 30%;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-497 .elementor-element.elementor-element-e066c3a {
    width: 74%;
  }

  .elementor-497 .elementor-element.elementor-element-e83167e {
    width: 25%;
  }

  .elementor-497 .elementor-element.elementor-element-48ed12a {
    width: 100%;
  }

  .elementor-497 .elementor-element.elementor-element-0ed0f4c {
    width: 40%;
  }

  .elementor-497 .elementor-element.elementor-element-b16c52a {
    width: 60%;
  }

  .elementor-497 .elementor-element.elementor-element-a2581fc {
    width: 100%;
  }
}

.elementor-element.elementor-element-b628cae .jeg-elementor-kit.jkit-social-share .social-share-list>li a {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1024px) {
  .elementor-element.elementor-element-b628cae .jeg-elementor-kit.jkit-social-share .social-share-list>li a {
    margin-left: auto;
    margin-right: unset;
  }
}

@media (max-width: 767px) {
  .elementor-element.elementor-element-b628cae .jeg-elementor-kit.jkit-social-share .social-share-list>li a {
    margin-left: auto;
    margin-right: unset;
  }
}

.justify-center {
  justify-content: center;
}