.elementor-824 .elementor-element.elementor-element-4a8fe6c>.elementor-container {
  max-width: 1170px;
}

.elementor-824 .elementor-element.elementor-element-4a8fe6c:not(.elementor-motion-effects-element-type-background),
.elementor-824 .elementor-element.elementor-element-4a8fe6c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: var(--e-global-color-secondary);
}

.elementor-824 .elementor-element.elementor-element-4a8fe6c>.elementor-background-overlay {
  opacity: 0.12;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-824 .elementor-element.elementor-element-4a8fe6c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 10px 20px 10px;
}

.elementor-824 .elementor-element.elementor-element-a1b43cc>.elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}

.elementor-824 .elementor-element.elementor-element-a29d609>.elementor-container {
  max-width: 1170px;
}

.elementor-824 .elementor-element.elementor-element-a29d609 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.elementor-824 .elementor-element.elementor-element-a8775f5>.elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 40px 0px 0px;
}

.elementor-824 .elementor-element.elementor-element-a8775f5>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-824 .elementor-element.elementor-element-26a87a5 {
  text-align: left;
}

.elementor-824 .elementor-element.elementor-element-26a87a5 img {
  width: 65%;
}

.elementor-824 .elementor-element.elementor-element-23b5b55 {
  color: #C5C5C5;
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-824 .elementor-element.elementor-element-e18c0dc {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 16px;
  --grid-column-gap: 15px;
  --grid-row-gap: 0px;
}

.elementor-824 .elementor-element.elementor-element-e18c0dc .elementor-widget-container {
  text-align: left;
}

.elementor-824 .elementor-element.elementor-element-e18c0dc .elementor-social-icon {
  background-color: #FFFFFF00;
  --icon-padding: 0.7em;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #D1D1D16B;
}

.elementor-824 .elementor-element.elementor-element-e18c0dc .elementor-social-icon i {
  color: var(--e-global-color-accent);
}

.elementor-824 .elementor-element.elementor-element-e18c0dc .elementor-social-icon svg {
  fill: var(--e-global-color-accent);
}

.elementor-824 .elementor-element.elementor-element-e18c0dc .elementor-social-icon:hover {
  background-color: var(--e-global-color-accent);
  border-color: var(--e-global-color-accent);
}

.elementor-824 .elementor-element.elementor-element-e18c0dc .elementor-social-icon:hover i {
  color: var(--e-global-color-secondary);
}

.elementor-824 .elementor-element.elementor-element-e18c0dc .elementor-social-icon:hover svg {
  fill: var(--e-global-color-secondary);
}

.elementor-824 .elementor-element.elementor-element-e18c0dc>.elementor-widget-container {
  margin: 10px 0px 0px 0px;
}

.elementor-824 .elementor-element.elementor-element-95ee62a>.elementor-element-populated {
  padding: 15px 0px 0px 10px;
}

.elementor-824 .elementor-element.elementor-element-169b7ec .elementor-heading-title {
  color: #FFFFFF;
  font-family: "Red Hat Display", Sans-serif;
  font-size: 22px;
  font-weight: 700;
}

.elementor-824 .elementor-element.elementor-element-78ded7f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(10px/2);
}

.elementor-824 .elementor-element.elementor-element-78ded7f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(10px/2);
}

.elementor-824 .elementor-element.elementor-element-78ded7f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(10px/2);
  margin-left: calc(10px/2);
}

.elementor-824 .elementor-element.elementor-element-78ded7f .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-10px/2);
  margin-left: calc(-10px/2);
}

body.rtl .elementor-824 .elementor-element.elementor-element-78ded7f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-10px/2);
}

body:not(.rtl) .elementor-824 .elementor-element.elementor-element-78ded7f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-10px/2);
}

.elementor-824 .elementor-element.elementor-element-78ded7f .elementor-icon-list-icon i {
  transition: color 0.3s;
}

.elementor-824 .elementor-element.elementor-element-78ded7f .elementor-icon-list-icon svg {
  transition: fill 0.3s;
}

.elementor-824 .elementor-element.elementor-element-78ded7f {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}

.elementor-824 .elementor-element.elementor-element-78ded7f .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-824 .elementor-element.elementor-element-78ded7f .elementor-icon-list-item>a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-824 .elementor-element.elementor-element-78ded7f .elementor-icon-list-text {
  color: var(--e-global-color-518c757);
  transition: color 0.3s;
}

.elementor-824 .elementor-element.elementor-element-78ded7f>.elementor-widget-container {
  margin: 10px 0px 0px 0px;
}

.elementor-824 .elementor-element.elementor-element-1736e6f>.elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 15px 0px 0px 10px;
}

.elementor-824 .elementor-element.elementor-element-9a4195e .elementor-heading-title {
  color: #FFFFFF;
  font-family: "Red Hat Display", Sans-serif;
  font-size: 22px;
  font-weight: 700;
}

.elementor-824 .elementor-element.elementor-element-77b80df .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(20px/2);
}

.elementor-824 .elementor-element.elementor-element-77b80df .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(20px/2);
}

.elementor-824 .elementor-element.elementor-element-77b80df .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(20px/2);
  margin-left: calc(20px/2);
}

.elementor-824 .elementor-element.elementor-element-77b80df .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-20px/2);
  margin-left: calc(-20px/2);
}

body.rtl .elementor-824 .elementor-element.elementor-element-77b80df .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-20px/2);
}

body:not(.rtl) .elementor-824 .elementor-element.elementor-element-77b80df .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-20px/2);
}

.elementor-824 .elementor-element.elementor-element-77b80df .elementor-icon-list-item:not(:last-child):after {
  content: "";
  width: 92%;
  border-color: #1D1D1D;
}

.elementor-824 .elementor-element.elementor-element-77b80df .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after {
  border-top-style: solid;
  border-top-width: 1px;
}

.elementor-824 .elementor-element.elementor-element-77b80df .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
  border-left-style: solid;
}

.elementor-824 .elementor-element.elementor-element-77b80df .elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
  border-left-width: 1px;
}

.elementor-824 .elementor-element.elementor-element-77b80df .elementor-icon-list-icon i {
  color: var(--e-global-color-accent);
  transition: color 0.3s;
}

.elementor-824 .elementor-element.elementor-element-77b80df .elementor-icon-list-icon svg {
  fill: var(--e-global-color-accent);
  transition: fill 0.3s;
}

.elementor-824 .elementor-element.elementor-element-77b80df {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}

.elementor-824 .elementor-element.elementor-element-77b80df .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-824 .elementor-element.elementor-element-77b80df .elementor-icon-list-item>a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-824 .elementor-element.elementor-element-77b80df .elementor-icon-list-text {
  color: var(--e-global-color-518c757);
  transition: color 0.3s;
}

.elementor-824 .elementor-element.elementor-element-77b80df>.elementor-widget-container {
  margin: 10px 0px 0px 0px;
}

.elementor-824 .elementor-element.elementor-element-00c9fbd>.elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 15px 0px 0px 40px;
}

.elementor-824 .elementor-element.elementor-element-4e55fa7 .elementor-heading-title {
  color: #FFFFFF;
  font-family: "Red Hat Display", Sans-serif;
  font-size: 22px;
  font-weight: 700;
}

.elementor-824 .elementor-element.elementor-element-46ccc61 {
  color: var(--e-global-color-518c757);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-824 .elementor-element.elementor-element-46ccc61>.elementor-widget-container {
  margin: 10px 0px 0px 0px;
}

.elementor-824 .elementor-element.elementor-element-0e96f80 .jeg-elementor-kit.jkit-mailchimp .jkit-form-control {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  color: #FFFFFF;
  background-color: #C5C5C500;
  border-radius: 0px 0px 0px 0px;
  padding: 15px 20px 15px 0px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: var(--e-global-color-accent);
}

.elementor-824 .elementor-element.elementor-element-0e96f80 .jeg-elementor-kit.jkit-mailchimp.style-inline .jkit-input-wrapper:not(.jkit-submit-input-holder) {
  -webkit-box-flex: 72%;
  -ms-flex: 0 0 72%;
  flex: 0 0 72%;
  margin-right: 0px;
}

.elementor-824 .elementor-element.elementor-element-0e96f80 .jeg-elementor-kit.jkit-mailchimp .jkit-form-control::placeholder {
  color: #C5C5C594;
}

.elementor-824 .elementor-element.elementor-element-0e96f80 .jeg-elementor-kit.jkit-mailchimp.style-inline .jkit-submit-input-holder {
  align-self: center;
  -webkit-box-flex: 28%;
  -ms-flex: 0 0 28%;
  flex: 0 0 28%;
}

.elementor-824 .elementor-element.elementor-element-0e96f80 .jeg-elementor-kit.jkit-mailchimp .jkit-mailchimp-submit {
  border-radius: 30px 30px 30px 30px;
  padding: 12px 0px 12px 10px;
  margin: 0px 0px 0px 0px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-accent);
  color: var(--e-global-color-accent);
  background-color: #FFFFFF00;
}

.elementor-824 .elementor-element.elementor-element-0e96f80 .jeg-elementor-kit.jkit-mailchimp.style-full .jkit-mailchimp-submit {
  width: 28%;
}

.elementor-824 .elementor-element.elementor-element-0e96f80 .jeg-elementor-kit.jkit-mailchimp .jkit-mailchimp-submit svg {
  fill: var(--e-global-color-accent);
}

.elementor-824 .elementor-element.elementor-element-0e96f80 .jeg-elementor-kit.jkit-mailchimp .jkit-mailchimp-submit:hover {
  color: var(--e-global-color-secondary);
  background-color: var(--e-global-color-accent);
}

.elementor-824 .elementor-element.elementor-element-0e96f80 .jeg-elementor-kit.jkit-mailchimp .jkit-mailchimp-submit:hover svg {
  fill: var(--e-global-color-secondary);
}

.elementor-824 .elementor-element.elementor-element-0e96f80>.elementor-widget-container {
  margin: 5px 0px 0px 0px;
}

.elementor-824 .elementor-element.elementor-element-f827296>.elementor-container {
  max-width: 1170px;
}

.elementor-824 .elementor-element.elementor-element-f827296>.elementor-container>.elementor-column>.elementor-widget-wrap {
  align-content: center;
  align-items: center;
}

.elementor-824 .elementor-element.elementor-element-f827296 {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #8383834F;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 80px;
  margin-bottom: 0px;
  padding: 20px 0px 0px 0px;
}

.elementor-824 .elementor-element.elementor-element-f827296>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-824 .elementor-element.elementor-element-e297243 {
  color: #C5C5C5;
  font-family: var(--e-global-typography-97c187c-font-family), Sans-serif;
  font-size: var(--e-global-typography-97c187c-font-size);
  font-weight: var(--e-global-typography-97c187c-font-weight);
  line-height: var(--e-global-typography-97c187c-line-height);
  letter-spacing: var(--e-global-typography-97c187c-letter-spacing);
  word-spacing: var(--e-global-typography-97c187c-word-spacing);
}

.elementor-824 .elementor-element.elementor-element-dfdbe2d {
  text-align: right;
  color: #C5C5C5;
  font-family: var(--e-global-typography-97c187c-font-family), Sans-serif;
  font-size: var(--e-global-typography-97c187c-font-size);
  font-weight: var(--e-global-typography-97c187c-font-weight);
  line-height: var(--e-global-typography-97c187c-line-height);
  letter-spacing: var(--e-global-typography-97c187c-letter-spacing);
  word-spacing: var(--e-global-typography-97c187c-word-spacing);
}

@media(max-width:1024px) {
  .elementor-824 .elementor-element.elementor-element-4a8fe6c {
    padding: 100px 10px 20px 10px;
  }

  .elementor-824 .elementor-element.elementor-element-a1b43cc>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }

  .elementor-824 .elementor-element.elementor-element-23b5b55 {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-824 .elementor-element.elementor-element-e18c0dc .elementor-widget-container {
    text-align: left;
  }

  .elementor-824 .elementor-element.elementor-element-95ee62a>.elementor-element-populated {
    padding: 10px 0px 0px 10px;
  }

  .elementor-824 .elementor-element.elementor-element-78ded7f .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-824 .elementor-element.elementor-element-78ded7f .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-824 .elementor-element.elementor-element-1736e6f>.elementor-element-populated {
    padding: 10px 0px 0px 10px;
  }

  .elementor-824 .elementor-element.elementor-element-77b80df .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-824 .elementor-element.elementor-element-77b80df .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-bc-flex-widget .elementor-824 .elementor-element.elementor-element-00c9fbd.elementor-column .elementor-widget-wrap {
    align-items: center;
  }

  .elementor-824 .elementor-element.elementor-element-00c9fbd.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }

  .elementor-824 .elementor-element.elementor-element-00c9fbd.elementor-column>.elementor-widget-wrap {
    justify-content: center;
  }

  .elementor-824 .elementor-element.elementor-element-00c9fbd>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 40px 0px 0px 0px;
  }

  .elementor-824 .elementor-element.elementor-element-4e55fa7 {
    text-align: center;
  }

  .elementor-824 .elementor-element.elementor-element-46ccc61 {
    text-align: center;
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-824 .elementor-element.elementor-element-46ccc61>.elementor-widget-container {
    padding: 0% 15% 0% 15%;
  }

  .elementor-824 .elementor-element.elementor-element-0e96f80 .jeg-elementor-kit.jkit-mailchimp .jkit-form-control {
    font-size: var(--e-global-typography-text-font-size);
    border-radius: 0px 0px 0px 0px;
    border-width: 0px 0px 1px 0px;
  }

  .elementor-824 .elementor-element.elementor-element-0e96f80 .jeg-elementor-kit.jkit-mailchimp.style-inline .jkit-input-wrapper:not(.jkit-submit-input-holder) {
    -webkit-box-flex: 78%;
    -ms-flex: 0 0 78%;
    flex: 0 0 78%;
  }

  .elementor-824 .elementor-element.elementor-element-0e96f80 .jeg-elementor-kit.jkit-mailchimp .jkit-mailchimp-submit {
    border-radius: 30px 30px 30px 30px;
    margin: 0px 0px 0px 0px;
  }

  .elementor-824 .elementor-element.elementor-element-0e96f80 .jeg-elementor-kit.jkit-mailchimp.style-full .jkit-mailchimp-submit {
    width: 22%;
  }

  .elementor-824 .elementor-element.elementor-element-0e96f80 .jeg-elementor-kit.jkit-mailchimp.style-inline .jkit-submit-input-holder {
    -webkit-box-flex: 22%;
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
  }

  .elementor-824 .elementor-element.elementor-element-0e96f80 {
    width: var(--container-widget-width, 67%);
    max-width: 67%;
    --container-widget-width: 67%;
    --container-widget-flex-grow: 0;
  }

  .elementor-824 .elementor-element.elementor-element-f827296 {
    margin-top: 60px;
    margin-bottom: 0px;
  }

  .elementor-824 .elementor-element.elementor-element-e297243 {
    font-size: var(--e-global-typography-97c187c-font-size);
    line-height: var(--e-global-typography-97c187c-line-height);
    letter-spacing: var(--e-global-typography-97c187c-letter-spacing);
    word-spacing: var(--e-global-typography-97c187c-word-spacing);
  }

  .elementor-824 .elementor-element.elementor-element-dfdbe2d {
    font-size: var(--e-global-typography-97c187c-font-size);
    line-height: var(--e-global-typography-97c187c-line-height);
    letter-spacing: var(--e-global-typography-97c187c-letter-spacing);
    word-spacing: var(--e-global-typography-97c187c-word-spacing);
  }
}

@media(max-width:767px) {
  .elementor-824 .elementor-element.elementor-element-4a8fe6c {
    padding: 60px 10px 20px 10px;
  }

  .elementor-824 .elementor-element.elementor-element-a29d609 {
    margin-top: 40px;
    margin-bottom: 0px;
  }

  .elementor-824 .elementor-element.elementor-element-23b5b55 {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-824 .elementor-element.elementor-element-e18c0dc>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }

  .elementor-824 .elementor-element.elementor-element-95ee62a>.elementor-element-populated {
    margin: 30px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }

  .elementor-824 .elementor-element.elementor-element-78ded7f .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-824 .elementor-element.elementor-element-78ded7f .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-824 .elementor-element.elementor-element-1736e6f>.elementor-element-populated {
    margin: 20px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }

  .elementor-824 .elementor-element.elementor-element-77b80df .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-824 .elementor-element.elementor-element-77b80df .elementor-icon-list-item>a {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-824 .elementor-element.elementor-element-00c9fbd>.elementor-element-populated {
    margin: 20px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }

  .elementor-824 .elementor-element.elementor-element-4e55fa7 {
    text-align: left;
  }

  .elementor-824 .elementor-element.elementor-element-46ccc61 {
    text-align: left;
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-824 .elementor-element.elementor-element-46ccc61>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }

  .elementor-824 .elementor-element.elementor-element-0e96f80 .jeg-elementor-kit.jkit-mailchimp .jkit-form-control {
    font-size: var(--e-global-typography-text-font-size);
    padding: 18px 20px 18px 0px;
  }

  .elementor-824 .elementor-element.elementor-element-0e96f80 .jeg-elementor-kit.jkit-mailchimp.style-inline .jkit-input-wrapper:not(.jkit-submit-input-holder) {
    -webkit-box-flex: 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
  }

  .elementor-824 .elementor-element.elementor-element-0e96f80 .jeg-elementor-kit.jkit-mailchimp .jkit-mailchimp-submit {
    padding: 10px 20px 10px 20px;
    margin: 10px 0px 0px 0px;
  }

  .elementor-824 .elementor-element.elementor-element-0e96f80 .jeg-elementor-kit.jkit-mailchimp.style-full .jkit-mailchimp-submit {
    width: 30%;
  }

  .elementor-824 .elementor-element.elementor-element-0e96f80 .jeg-elementor-kit.jkit-mailchimp.style-inline .jkit-submit-input-holder {
    -webkit-box-flex: 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
  }

  .elementor-824 .elementor-element.elementor-element-0e96f80>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }

  .elementor-824 .elementor-element.elementor-element-0e96f80 {
    width: var(--container-widget-width, 100%);
    max-width: 100%;
    --container-widget-width: 100%;
    --container-widget-flex-grow: 0;
  }

  .elementor-824 .elementor-element.elementor-element-f827296 {
    margin-top: 40px;
    margin-bottom: 0px;
  }

  .elementor-824 .elementor-element.elementor-element-e297243 {
    text-align: center;
    font-size: var(--e-global-typography-97c187c-font-size);
    line-height: var(--e-global-typography-97c187c-line-height);
    letter-spacing: var(--e-global-typography-97c187c-letter-spacing);
    word-spacing: var(--e-global-typography-97c187c-word-spacing);
  }

  .elementor-824 .elementor-element.elementor-element-538ef2c>.elementor-element-populated {
    margin: 10px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-824 .elementor-element.elementor-element-dfdbe2d {
    text-align: center;
    font-size: var(--e-global-typography-97c187c-font-size);
    line-height: var(--e-global-typography-97c187c-line-height);
    letter-spacing: var(--e-global-typography-97c187c-letter-spacing);
    word-spacing: var(--e-global-typography-97c187c-word-spacing);
  }
}

@media(min-width:768px) {
  .elementor-824 .elementor-element.elementor-element-a8775f5 {
    width: 30%;
  }

  .elementor-824 .elementor-element.elementor-element-95ee62a {
    width: 15.594%;
  }

  .elementor-824 .elementor-element.elementor-element-1736e6f {
    width: 23.126%;
  }

  .elementor-824 .elementor-element.elementor-element-00c9fbd {
    width: 31.251%;
  }
}

@media(max-width:1024px) and (min-width:768px) {
  .elementor-824 .elementor-element.elementor-element-a8775f5 {
    width: 40%;
  }

  .elementor-824 .elementor-element.elementor-element-95ee62a {
    width: 30%;
  }

  .elementor-824 .elementor-element.elementor-element-1736e6f {
    width: 30%;
  }

  .elementor-824 .elementor-element.elementor-element-00c9fbd {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .elementor-element.elementor-element-0e96f80 .jeg-elementor-kit.jkit-mailchimp.style-inline .jkit-form-wrapper.extra-fields .jkit-submit-input-holder {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .elementor-element.elementor-element-0e96f80 .jeg-elementor-kit.jkit-mailchimp.jeg-elementor-kit.jkit-mailchimp.style-inline .jkit-form-wrapper.extra-fields .jkit-input-wrapper:nth-last-child(2) {
    margin-right: 0 !important;
  }
}